<template>
  <div>
    <div color="surface">
      <v-row align="center"
             justify="center">
        <v-card style="background-color: #4fc3f7; margin: 10px; border-radius: 10px" elevation="5">
          <qrcode-stream
              @decode="onDecode"
              style="height: 300px; width: 300px; margin: 10px; "
          />
        </v-card>
      </v-row>
      <v-row align="center"
             justify="center" v-if="checkpointsDone">
        <v-card-title>
          You passed {{ checkpointsDone }} checkpoints!
        </v-card-title>
      </v-row>

      <h1 style="padding: 15px; color: black">
        Checkpoints
      </h1>
      <v-card style="margin: 20px; color: white">
        <v-card-text>
          <div
              v-for="checkpoint in checkpoints"
              :key="checkpoint.name"
              style="padding: 5px"
          >
            {{ checkpoint.name }}
          </div>
          <v-card-text v-if="dataLoaded && checkpoints.length === 0">
            <waid-validation-error error="No added checkpoints yet!"/>
          </v-card-text>
        </v-card-text>

      </v-card>
      <h1 style="padding: 15px; color: black">
        Passed checkpoints
      </h1>
      <v-card style="margin: 20px; color: white">
        <v-card-text>
          <div
              v-for="(checkpoint, index) in passedCheckpoints"
              :key="index"
              style="padding: 5px"
          >
            {{ checkpoint.name }} &emsp; at &emsp;{{ formatDate(checkpoint.time) }}
          </div>
        </v-card-text>
        <v-card-text v-if="dataLoaded && passedCheckpoints.length === 0">
          <waid-validation-error error="No added passed checkpoints yet!"/>
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue';
import {CheckpointDto, DateTimeDto, PassedCheckpointDto, RunningAPI} from '@/Api';
import LoginManager from '@/Login/LoginManager';
import WaidValidationError from '@/GenericComponents/WaidValidationError.vue';
import TimeUtils from '@/Utils/TimeUtils';

export default Vue.extend({
  name: 'RunningView.vue',
  components: {WaidValidationError},
  data() {
    return {
      msg: '',
      checkpoints: [] as CheckpointDto[],
      passedCheckpoints: [] as PassedCheckpointDto[],
      lastCheckpoint: '' as string,
      checkpointsDone: 0 as number,
      dataLoaded: false as boolean
    };
  },
  methods: {
    onDecode(decodedText: string) {
      if (this.lastCheckpoint === decodedText || this.checkpoints.find(x => x.qrCode === decodedText) === undefined) {
        return;
      }
      this.lastCheckpoint = decodedText;
      this.checkpointsDone += 1;
      const date = new DateTimeDto();
      date.hour.hour = new Date().getHours();
      date.hour.minute = new Date().getMinutes();

      date.date.day = new Date().getDate() + 1;
      date.date.month = new Date().getMonth() + 1;
      date.date.year = new Date().getFullYear();

      new RunningAPI().addPassedCheckpoint(LoginManager.getUserId(), decodedText, date).then(this.refresh);
    },

    addMissingCheckpoint(name: string) {
      new RunningAPI().getUserCheckpoints(LoginManager.getUserId()).then((result) => {
        let r = (Math.random() + 1).toString(36).substring(2, 5);
        if (result.find(x => x.name === name) === undefined) {
          new RunningAPI().addCheckpoint(LoginManager.getUserId(), name, r);
        }
      });
    },

    formatDate(dateTimeDto: DateTimeDto) {
      return TimeUtils.formatDateTimeDto(dateTimeDto);
    },

    refresh() {
      new RunningAPI().getUserCheckpoints(LoginManager.getUserId())
          .then((result) => this.checkpoints = result);
      new RunningAPI().getUserPassedCheckpoints(LoginManager.getUserId())
          .then((result) => this.passedCheckpoints = result.reverse());
    }
  },
  mounted() {
    this.refresh();
    this.addMissingCheckpoint('koniec trasy Bemowo');
    this.addMissingCheckpoint('początek trasy Bemowo');
  }
});
</script>
