<template>
  <div>
    <h1 style='padding: 20px'>
      API keys
      {{this.$route.query.test}}
      <v-btn color="secondary" @click="openModal" style="padding: 20px">generate new key</v-btn>
    </h1>
    <v-card-text v-if="apiKey">
      Generated api-key for <b>'{{ description }}'</b>: <b>{{ apiKey }}</b>
    </v-card-text>
    <div v-if="apiKeys.length === 0">
      <h2>no keys yet!</h2>
    </div>
    <div v-for="apiKey in apiKeys" :key="apiKey.name" style="margin: 15px">
      <v-card elevation="1">
        <v-card-title>
          {{ apiKey.name }}
          <v-btn @click="deleteKey(apiKey)" icon>
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>

          created: <b>{{ formatDate(apiKey.createdTime) }}</b>
          <br>
          <span v-if="apiKey.usedCount">
              last used:
                <b>{{ formatDate(apiKey.usedEndpoints[apiKey.usedEndpoints.length - 1].time) }}</b>
            </span>
          <br>
          <span v-if="apiKey.usedCount">used <b>{{ apiKey.usedCount }}</b> times<br></span>
          <span v-if="!apiKey.usedCount"><b>not used yet!</b></span>
        </v-card-text>
      </v-card>
    </div>
    <waid-single-field-modal
        ref="addTokenModal"
        :type=0
        label="Description"
        title="Add api token"
        @save=addToken
    />
  </div>
</template>

<script lang='ts'>
import Vue from 'vue';
import {ApiTokenDto, ApiTokensAPI, DateTimeDto} from '@/Api';
import LoginManager from '@/Login/LoginManager';
import WaidSingleFieldModal from '@/GenericComponents/WaidSingleFieldModal.vue';
import TimeUtils from '@/Utils/TimeUtils';
import PrettyJSON from '@/GenericComponents/PrettyJSON.vue';

export default Vue.extend({
  name: 'ApiKeysView',
  components: {PrettyJSON, WaidSingleFieldModal},
  data() {
    return {
      apiKeys: [] as ApiTokenDto[],
      apiKey: null as string | null,
      description: null as string | null
    };
  },
  methods: {
    formatDate(date: DateTimeDto) {
      return TimeUtils.formatDateTimeDto(date);
    },
    refresh() {
      new ApiTokensAPI().getTokens(LoginManager.getUserId()).then((result) => this.apiKeys = result);
    },
    addToken(description: string) {
      new ApiTokensAPI().generateApiToken(LoginManager.getUserId(), description).then((result) => {
        this.apiKey = result;
        this.description = description;
        this.refresh();
      });
    },
    openModal() {
      (this.$refs.addTokenModal as any).open();
    },
    deleteKey(apiKey: ApiTokenDto) {
      new ApiTokensAPI().invalidateApiToken(LoginManager.getUserId(), apiKey.name).then(() => {
        this.apiKey = null;
        this.description = null;
        this.refresh();
      });
    }
  },
  mounted() {
    this.refresh();
  }
});
</script>
