<template>
  <v-dialog v-model="modalOpen"
            max-width="1000"
            style=".v-dialog--active {overflow: visible !important;}"
  >
    <v-card dark color="primary">
      <v-card-title v-if="!isMobile">
        <h3>
          Filling entries missing categories
        </h3>
      </v-card-title>
    </v-card>
    <v-card style="overflow: visible !important;" flat>
      <v-card-title v-if="isMobile || entriesToCategorize.length > 12">
        <h3 v-if="step < entriesToCategorize.length + 1">
          Record
          <v-chip color="secondary">{{ step }}</v-chip>
          out of
          <v-chip color="secondary">{{ entriesToCategorize.length }}</v-chip>
        </h3>
      </v-card-title>
      <v-stepper
          v-model="step"
          alt-labels
          :style="editingCategory ? 'overflow: visible !important;' : ''"
      >
        <v-stepper-items style="overflow: visible !important;">
          <v-stepper-content :step="i + 1" v-for="(entry, i) in entriesToCategorize" :key="i"
                             style="padding-top: 0; padding-bottom: 0">
            <v-card-text :style="` padding-bottom: 0; ${isMobile ? 'padding-top: 0' : ''}`">
              <h3>Transaction data</h3>
              <div style="padding: 10px">
                <v-layout row style="padding: 5px">
                  <div style="width: 100px">Name</div>
                  <div style="color: black">
                    {{ entriesToCategorizeMap.get(entry).transactionData.name }}
                  </div>
                </v-layout>
                <v-layout row style="padding: 5px">
                  <div style="width: 100px">Description</div>
                  <div style="color: black">
                    {{ entry.description }}
                  </div>
                </v-layout>
                <v-layout row style="padding: 5px">
                  <div style="width: 100px">Value</div>
                  <div style="color: black">
                    {{ formatValue(entry.value) }}
                  </div>
                </v-layout>
                <v-layout row style="padding: 5px">
                  <div style="width: 100px">Date</div>
                  <div style="color: black">
                    {{ formatDate(entry.date) }}
                  </div>
                </v-layout>
                <v-layout row style="padding: 5px" v-if="!isMobile">
                  <div style="width: 100px">From</div>
                  <div style="color: black">
                    {{ entriesToCategorizeMap.get(entry).transactionData.sourceNumber }}
                  </div>
                </v-layout>
                <v-layout row style="padding: 5px" v-if="!isMobile">
                  <div style="width: 100px">To</div>
                  <div style="color: black">
                    {{ entriesToCategorizeMap.get(entry).transactionData.destinationNumber }}
                  </div>
                </v-layout>
                <v-layout row style="padding: 5px">
                  <div style="width: 100px">Type</div>
                  <div style="color: black">
                  <v-chip small color='secondary' dark>
                    {{transactionType(entriesToCategorizeMap.get(entry))}}
                  </v-chip>
                  </div>
                </v-layout>
              </div>
              <h2>
                Choose category
              </h2>
              <div style="padding: 10px">
                <v-layout>
                  <choose-category
                      :ref="`category-${i + 1}`"
                      style="padding: 5px; width: 400px; margin-bottom: 25px"
                      label="Category to show"
                      :categories="categories"
                      v-model="chosenCategories[i]"
                  />
                </v-layout>
              </div>
            </v-card-text>
          </v-stepper-content>
          <v-stepper-content
              :step="entriesToCategorize.length + 1"
              style="padding-bottom: 0; padding-top: 0"
          >
            <v-card-text style="padding: 0;">
              <h1 style="margin-bottom: 20px">Summary</h1>
              <div style="min-height: 300px; overflow: scroll; max-height: 400px">
                <div
                    v-for="(entry, i) in entriesToCategorize"
                    :key="i"
                    style="margin-left: 20px; width: 600px">
                  <v-layout row>
                    <div style="width: 100px">Name</div>
                    <div style="color: black">
                      {{ entriesToCategorizeMap.get(entry).transactionData.name }}
                    </div>
                  </v-layout>
                  <v-layout row>
                    <div style="width: 100px">Description</div>
                    <div style="color: black">
                      {{ entry.description }}
                    </div>
                  </v-layout>
                  <v-layout row>
                    <div style="width: 100px">Value</div>
                    <div style="color: black">
                      {{ formatValue(entry.value) }}
                    </div>
                  </v-layout>
                  <v-layout row>
                    <div style="width: 100px">Category</div>
                    <financial-category
                        :category-path="chosenCategories[i]"
                    />
                  </v-layout>
                  <v-divider style="margin-top: 10px; margin-bottom: 10px; margin-left: -10px"/>
                </div>
              </div>
              <v-btn @click="save" large color="secondary">Save all</v-btn>
            </v-card-text>
          </v-stepper-content>
        </v-stepper-items>
        <v-card-text>
          <v-btn style="margin: 5px" @click="prevStep" color="secondary">
            <v-icon>mdi-arrow-left-thick</v-icon>
            prev
          </v-btn>
          <v-btn style="margin: 5px" @click="nextStep" color="secondary">next
            <v-icon>mdi-arrow-right-thick</v-icon>
          </v-btn>
        </v-card-text>
      </v-stepper>
    </v-card>
  </v-dialog>
</template>

<script lang='ts'>
import Vue from 'vue';
import {DateDto, FinancialEntryDto, FinancialRecordDto} from '@/Api';
import PrettyJSON from '@/GenericComponents/PrettyJSON.vue';
import TimeUtils from '@/Utils/TimeUtils';
import ChooseCategory from '@/Finances/ChooseCategory.vue';
import FinancialCategory from '@/Finances/FinancialCategory.vue';
import FinancialCategoriesUtils from '@/Finances/FinancialCategoriesUtils';

export default Vue.extend({
  name: 'BatchSetCategoriesModal',
  components: {FinancialCategory, ChooseCategory, PrettyJSON},
  data() {
    return {
      editingCategory: false as boolean,
      step: 1 as number,
      modalOpen: false,
      editedRecords: [] as FinancialRecordDto[],
      setCategories: new Map<FinancialEntryDto, string[]>(),
      chosenCategories: [] as string[][]
    };
  },
  computed: {
    entriesToCategorize(): FinancialEntryDto[] {
      let result: FinancialEntryDto[] = [];
      this.editedRecords.forEach(x => result = result.concat(x.entries.filter(x => x.category[0] === '')));
      return result;
    },
    entriesToCategorizeMap(): Map<FinancialEntryDto, FinancialRecordDto> {
      let result = new Map<FinancialEntryDto, FinancialRecordDto>();
      this.editedRecords.forEach(record => record.entries.forEach(entry => result.set(entry, record)));
      return result;
    }
  },
  mounted() {
    document.addEventListener('keyup', this.handleKeys);
  },
  destroyed() {
    document.removeEventListener('keyup', this.handleKeys);
  },
  methods: {
    transactionType(record: FinancialRecordDto): string {
      return FinancialCategoriesUtils.extractTransactionType(record);
    },

    save() {
      const copy = this.entriesToCategorize;
      for (let i = 0; i < copy.length; i++) {
        copy[i].category = this.chosenCategories[i];
      }
      this.modalOpen = false;
      this.$emit('save', this.editedRecords);
    },
    nextStep() {
      this.step = Math.min(this.entriesToCategorize.length + 1, this.step + 1);
      this.afterChangeStep();
    },
    afterChangeStep() {
      this.editingCategory = false;
      for (let i = 0; i < this.entriesToCategorize.length; i++) {
        if (this.chosenCategories[i].length === 0) {
          this.chosenCategories[i] = [''];
        }
      }
      if (this.step !== this.entriesToCategorize.length + 1
          && this.chosenCategories[this.step - 1][0] === '') {
        this.$nextTick(() => setTimeout(() => {
          (this.$refs[`category-${this.step}`] as any)[0].resetValue();
        }, 400));
      }
      setTimeout(() => this.editingCategory = true, 400);
    },
    prevStep() {
      this.step = Math.max(1, this.step - 1);
      this.afterChangeStep();
    },
    handleKeys(event: KeyboardEvent) {
      if (event.key === 'ArrowLeft') {
        this.prevStep();
      }
      if (event.key === 'ArrowRight') {
        this.nextStep();
      }
    },
    formatDate(date: DateDto) {
      return TimeUtils.formatDateDto(date);
    },
    formatValue(value: number) {
      return value.toFixed(2);
    },

    open(records: FinancialRecordDto[]) {
      this.modalOpen = true;
      this.step = 1;
      this.editedRecords = records;
      let result: string[][] = [];
      this.editedRecords.forEach(x => result = result.concat(x.entries.map(x => x.category)));
      this.chosenCategories = result;
      this.prevStep();
    }
  },
  watch: {
    chosenCategories: {
      deep: true,
      handler() {
        if (this.chosenCategories[this.step - 1].length
            && this.chosenCategories[this.step - 1][0] !== '') {
          this.nextStep();
        }
      }
    }
  },
  props: {
    categories: Array,
    isMobile: Boolean
  }
});
</script>
