<template>
  <div>
    <div v-for="(_, index) in chosenCategories" :key="index">
      <choose-category
          :categories="categories"
          v-model="chosenCategories[index]"
      />
    </div>
    <v-btn icon @click="addEmpty"><v-icon>mdi-plus</v-icon></v-btn>
  </div>
</template>

<script lang='ts'>
import Vue, {PropType} from 'vue';
import ChooseCategory from '@/Finances/ChooseCategory.vue';

export default Vue.extend({
  name: 'ChooseMultipleCategories',
  components: {ChooseCategory},

  data() {
    return {
      chosenCategories: [[]] as string[][]
    };
  },

  methods: {
    addEmpty() {
      this.chosenCategories.push([]);
    }
  },

  watch: {
    chosenCategories() {
      this.$emit('input', this.chosenCategories);
    },

    value: {
      immediate: true,
      handler(val) {
        this.chosenCategories = val;
      }
    }
  },

  props: {
    categories: {
      type: Array as PropType<string[][]>
    },

    value: {
      type: Array as PropType<string[][]>
    }
  }
});
</script>
