<template>
  <div style="height: 70px;">

    <div>
      <div @click="resetValue"
           v-if="chosenValue.length !== 0"
      >
        <div style="font-size: 12px; margin-left: 33px">{{ label }}</div>
        <v-layout row>
          <v-icon style="margin-left: 12px; margin-top: -4px">mdi-inbox-multiple</v-icon>
          <div>
            <financial-category
                style="margin-left: 5px;"
                :category-path="chosenValue"
            />
          </div>
        </v-layout>
      </div>
    </div>
    <v-text-field
        style="margin: 0px; padding-top: 16px"
        ref="textField"
        v-if="chosenValue.length === 0"
        v-model="searchValue"
        prepend-icon="mdi-inbox-multiple"
        :label=label
        @input="selectedIndex=0"
        @focus="focused = true"
    />

    <div style="z-index: 999; position:absolute; float: right;  background-color: white;" v-if="focused && !chosenValue.length">
      <v-card width="400px">
        <div style="padding: 20px; margin-top: -20px">
          <div v-for="(match, index) in matches" @click="optionChosen(index)">
            <financial-category
                :style="index === selectedIndex ? 'background-color: #ebebeb' : ''"
                :category-path="match"
            />
            <v-divider style="margin: 5px"/>
          </div>
        </div>
      </v-card>
    </div>
  </div>
</template>

<script lang='ts'>
import Vue, {PropType} from 'vue';
import FinancialCategory from '@/Finances/FinancialCategory.vue';

export default Vue.extend({

  name: 'ChooseCategory',

  components: {FinancialCategory},
  data() {
    return {
      focused: false as boolean,
      searchValue: '' as string,
      selectedIndex: 0 as number,
      valueSelected: false as boolean,
      chosenValue: [] as string[]
    };
  },

  computed: {
    matches(): string[][] {
      let result = [];
      for (const category of this.categories) {
        if (JSON.stringify(category).toLowerCase()
            .includes(this.searchValue.toLowerCase())) {
          result.push(category);
        }
      }
      result = result.sort((a, b) => a.length - b.length);
      if (result.length > 20) {
        result = result.slice(0, 20);
      }
      return result;
    }
  },

  mounted() {
    window.addEventListener('keydown', this.handleArrows);
    this.chosenValue = this.value;
  },

  destroyed() {
    window.removeEventListener('keydown', this.handleArrows);
  },

  watch: {
    value: {
      handler(val) {
        this.chosenValue = val;
        this.focused = false;
      }
    }
  },

  methods: {

    resetValue() {
      this.chosenValue = [];
      this.$emit('input', []);
      this.$nextTick(() => {
        (this.$refs.textField as any).focus();
      });
    },

    optionChosen(index: number) {
      this.chosenValue = this.matches[index];
      this.$emit('input', this.chosenValue);
      this.searchValue = '';
    },

    handleArrows(e: KeyboardEvent) {
      if (!this.focused) {
        return;
      }
      switch (e.key) {
        case 'ArrowDown':
          this.selectedIndex++;
          break;
        case 'ArrowUp':
          this.selectedIndex--;
          break;
        case 'Enter':
          this.optionChosen(this.selectedIndex);
          break;
        case 'Escape':
          this.focused = false;
          (this.$refs.textField as any).blur();
          break;
      }
      this.selectedIndex = Math.max(this.selectedIndex, 0);
      this.selectedIndex = Math.min(this.selectedIndex, this.matches.length - 1);
    }
  },

  props: {
    categories: {
      type: Array as PropType<string[][]>
    },
    value: {
      type: Array as PropType<string[]>
    },
    label: {
      type: String as PropType<string>
    }
  }
});
</script>
