<template>
  <v-dialog v-model="modalOpen" max-width="1000">
    <v-card :dark="!isLight">
      <v-card dark color="primary">
        <v-card-title>
          <h3>
            Financial record
          </h3>
        </v-card-title>
      </v-card>
      <v-card-text>
        <waid-validation-error
            :error="computedValueFormatted !== valueFormatted ? 'Record value and entries values sum do not match' : ''"
        />
        <div style="padding-top: 20px" v-if="!addingNew">
          <h3>Original transaction data</h3>
          <div style="padding: 10px">
            <v-layout row style="padding: 5px">
              <div style="width: 100px">Name</div>
              <div style="color: black">
                {{ editedRecord.transactionData.name }}
              </div>
            </v-layout>
            <v-layout row style="padding: 5px">
              <div style="width: 100px">Value</div>
              <div style="color: black">
                <v-layout row>
                  {{ valueFormatted }}
                  <div v-if="valueFormatted !== computedValueFormatted">
                    &emsp;
                    ({{ computedValueFormatted }})
                    <v-icon color="secondary">mdi-alert</v-icon>
                  </div>
                </v-layout>
              </div>
            </v-layout>
            <v-layout row style="padding: 5px">
              <div style="width: 100px">Date</div>
              <div style="color: black">
                {{ dateFormatted }}
              </div>
            </v-layout>
            <v-layout row style="padding: 5px">
              <div style="width: 100px">From</div>
              <div style="color: black">
                {{ editedRecord.transactionData.sourceNumber }}
              </div>
            </v-layout>
            <v-layout row style="padding: 5px">
              <div style="width: 100px">To</div>
              <div style="color: black">
                {{ editedRecord.transactionData.destinationNumber }}
              </div>
            </v-layout>
          </div>
        </div>
        <div>
          <h3>Financial entries
            <v-btn
                icon
                small
                @click="addDivision"
            >
              <v-icon style="padding-top: -10px">mdi-plus</v-icon>
            </v-btn>
          </h3>
        </div>

        <v-menu v-model="contextMenuOpen"
                :position-x="x"
                :position-y="y">
          <v-list color="surface" width="250px">
            <v-list-item
                color="surface"
                @click="editDivision(contextMenuItem, contextMenuIndex)"
            >
              <v-icon>mdi-pencil</v-icon>
              &emsp;
              <v-list-item-title>edit</v-list-item-title>
            </v-list-item>
            <v-list-item
                color="surface"
                @click="startBatchEditCategories"
            >
              <v-icon>mdi-wrench</v-icon>
              &emsp;
              <v-list-item-title>set multiple categories</v-list-item-title>
            </v-list-item>
            <v-list-item
                color="surface"
                @click="deleteDivision(contextMenuItem, contextMenuIndex)"
            >
              <v-icon>mdi-delete</v-icon>
              &emsp;
              <v-list-item-title>delete</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        <v-dialog
            persistent
            max-width="500"
            v-model="editingDivision"
        >
          <v-card>
            <v-card dark color="primary">
              <v-card-title>
                <h2>
                  Edit cost division
                </h2>
              </v-card-title>
            </v-card>
            <v-card-text>
              <div v-for="validationError in divisionValidationErrors" :key="validationError">
                <waid-validation-error :error="validationError"/>
              </div>


              <br>
              <v-text-field
                  v-model="editedDivision.description"
                  label="description"
                  color="primary"
              />
              <choose-category
                  label="Choose category"
                  v-model="editedDivision.category"
                  :categories="categories"
              />
              <waid-date-picker
                  v-model="editedDivision.date"
                  label="Date"
              />
              <v-text-field
                  v-model="editedDivision.value"
                  label="value"
                  color="primary"
              />
              <v-btn
                  color="primary"
                  @click="saveDivision"
              >
                Save
              </v-btn>
              &emsp;
              <v-btn
                  color="primary"
                  @click="cancelDivision"
              >
                Cancel
              </v-btn>
            </v-card-text>
          </v-card>
        </v-dialog>
        <v-layout row v-if="batchSettingCategories" style="height: 50px">
          <div style="width: 26%"/>
          <choose-category style="width: 30%" :categories="categories" v-model="batchCategory"
                           label="category to set">

          </choose-category>
        </v-layout>
        <v-layout row>
          <div style="width: 5%; padding: 10px " v-if="batchSettingCategories">
            <v-checkbox
                @change="val => {batchCategoryChecked = editedRecord.entries.map(() => val)}"
                color="primary"
                v-model="batchAllSet"
                style="margin: 0; padding: 0; height: 20px"></v-checkbox>
          </div>
          <div
              :style=" batchSettingCategories ? 'width: 25%; overflow:hidden; padding: 10px' : 'width: 30%; overflow:hidden; padding: 10px'">
            Description
          </div>
          <div style="width: 25%;overflow:hidden; padding: 10px">
            Category
          </div>
          <div style="width: 20%; overflow:hidden; padding: 10px">
            Date
          </div>
          <div style="width: 15%; overflow:hidden; padding: 10px">
            Value
          </div>
          <div style="width: 5%; overflow:hidden; padding: 10px">

          </div>
        </v-layout>
        <v-layout row
                  v-for="(entry, index) in editedRecord.entries"
                  :key="index"
                  class="selectableRow"
                  @contextmenu="contextMenuOpened($event, index)"
        >
          <div style="width: 5%; padding: 10px " v-if="batchSettingCategories">
            <v-checkbox
                @change="batchAllSet = false"
                v-model="batchCategoryChecked[index]"
                color="primary"
                style="margin: 0; padding: 0; height: 20px">
            </v-checkbox>
          </div>
          <div
              :style=" batchSettingCategories ? 'width: 25%; overflow:hidden; padding: 10px' : 'width: 30%; overflow:hidden; padding: 10px'">
            {{ entry.description }}
          </div>
          <div style="width: 25%;overflow:hidden; padding: 10px; color: black">
            <financial-category
                :categoryPath="entry.category"
            />
          </div>
          <div style="width: 20%; overflow:hidden; padding: 10px; color: black">
            {{ formatDate(entry.date) }}
          </div>
          <div style="width: 15%; overflow:hidden; padding: 10px; color: black">
            {{ entry.value.toFixed(2) }}
          </div>
          <v-btn icon style="overflow:hidden; padding: 10px; " @click="contextMenuOpened($event, index)">
            <v-icon>mdi-pencil</v-icon>
          </v-btn>
        </v-layout>
        <v-layout row v-if="batchSettingCategories">
          <v-btn color="secondary" small rounded style="margin: 10px"
                 @click="acceptBatchCategoriesEdit"
                 :disabled="batchCategory.length === 0">
            <v-icon>mdi-check</v-icon>
          </v-btn>
          <v-btn color="secondary"
                 small
                 rounded
                 style="margin: 10px"
                 @click="cancelBatchCategoriesEdit">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-layout>
        <v-btn
            color="primary"
            :disabled="computedValueFormatted !== valueFormatted"
            @click="save"
        >
          Save
        </v-btn>
        &emsp;
        <v-btn
            color="primary"
            @click="cancel"
        >
          Cancel
        </v-btn>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang='ts'>
import ChooseCategory from '@/Finances/ChooseCategory.vue';
import Vue from 'vue';
import {DateDto, FinancialEntryDto, FinancialRecordDto} from '@/Api';
import WaidDatePicker from '@/GenericComponents/WaidDatePicker.vue';
import ThemeUtils from '@/Utils/ThemeUtils';
import PrettyJSON from '@/GenericComponents/PrettyJSON.vue';
import TimeUtils from '@/Utils/TimeUtils';
import FinancialCategory from '@/Finances/FinancialCategory.vue';
import WaidValidationError from '@/GenericComponents/WaidValidationError.vue';

export default Vue.extend({
  name: 'EditFinancialRecordModal',

  components: {WaidValidationError, PrettyJSON, WaidDatePicker, ChooseCategory, FinancialCategory},

  data() {
    return {
      divisionValidationErrors: [] as string[],
      contextMenuOpen: false as boolean,
      contextMenuItem: new FinancialEntryDto() as FinancialEntryDto,
      contextMenuIndex: -1 as number,
      x: -1 as number,
      y: -1 as number,
      editedRecord: new FinancialRecordDto() as FinancialRecordDto,
      addingNew: false as boolean,
      batchAllSet: false as boolean,
      batchSettingCategories: false as boolean,
      batchCategory: [],
      batchCategoryChecked: [] as boolean[],
      modalOpen: false as boolean,
      editingDivision: false as boolean,
      editedDivision: new FinancialEntryDto() as FinancialEntryDto,
      editedDivisionIndex: -1 as number,
      headers: [
        {text: 'Description', value: 'description', sortable: false},
        {text: 'Category', value: 'category', sortable: false},
        {text: 'Date', value: 'date', sortable: false},
        {text: 'Value', value: 'value', sortable: false},
        {text: 'Actions', value: 'action', sortable: false},
      ],
    };
  },

  computed: {
    isLight() {
      return ThemeUtils.isLight();
    },

    allDivisions(): FinancialEntryDto[] {
      const result = [];
      let index = 0;
      for (const division of this.editedRecord.entries) {
        (division as any).index = index;
        index++;
        result.push(division);
      }

      return result;
    },

    dateFormatted(): string {
      return TimeUtils.formatDateDto(this.editedRecord.transactionData.date);
    },

    computedValueFormatted() {
      let result = 0;
      for (const division of this.editedRecord.entries) {
        result += division.value;
      }
      return result.toFixed(2);
    },

    valueFormatted(): string {
      if (!this.editedRecord.transactionData.value) {
        return '';
      }
      return this.editedRecord.transactionData.value.toFixed(2);
    }
  },


  methods: {

    contextMenuOpened(event: any, index: number) {
      this.x = event.clientX;
      this.y = event.clientY;
      this.contextMenuItem = this.editedRecord.entries[index];
      this.contextMenuOpen = true;
      this.contextMenuIndex = index;
      event.preventDefault();
    },

    formatDate(date: DateDto): string {
      return TimeUtils.formatDateDto(date);
    },

    deleteDivision(division: FinancialEntryDto, index: number) {
      this.editedRecord.entries = this.editedRecord.entries.splice(index, 1);
    },

    editDivision(division: FinancialEntryDto, index: number) {
      this.editedDivision = JSON.parse(JSON.stringify(division));
      this.editedDivisionIndex = index;
      this.editingDivision = true;
    },

    addDivision() {
      this.cancelBatchCategoriesEdit();
      const toAdd = new FinancialEntryDto();
      toAdd.description = '';
      toAdd.category = [];
      toAdd.value = 0.00;
      this.editDivision(toAdd, this.editedRecord.entries.length);
    },

    open(record?: FinancialRecordDto) {
      if (record) {
        this.editedRecord = JSON.parse(JSON.stringify(record));
      } else {
        this.editedRecord = new FinancialRecordDto();
        this.editedRecord.recordId = -1;
      }
      this.modalOpen = true;
      this.batchSettingCategories = false;
    },

    startBatchEditCategories() {
      this.batchSettingCategories = true;
      this.batchCategoryChecked = this.editedRecord.entries.map(() => false);
      this.batchCategory = [];
    },

    acceptBatchCategoriesEdit() {
      let i = 0;
      for (const entry of this.editedRecord.entries) {
        if (this.batchCategoryChecked[i]) {
          entry.category = this.batchCategory;
        }
        i++;
      }
      this.batchSettingCategories = false;
      this.batchCategory = [];
    },

    cancelBatchCategoriesEdit() {
      this.batchSettingCategories = false;
      this.batchCategory = [];
    },

    validateDivision(): boolean {
      this.divisionValidationErrors = [];

      if (isNaN(Number.parseFloat((this.editedDivision as any).value))) {
        this.divisionValidationErrors.push('Please enter correct entry value');
      }
      if (!this.editedDivision.category.length) {
        this.divisionValidationErrors.push('Please fill entry category');
      }
      if (!this.editedDivision.description) {
        this.divisionValidationErrors.push('Please fill entry description');
      }
      if (!this.editedDivision.date.day) {
        this.divisionValidationErrors.push('Please fill entry date');
      }
      if (this.editedDivision.value === 0) {
        this.divisionValidationErrors.push('Please fill entry value');
      }
      return this.divisionValidationErrors.length === 0;
    },

    save() {
      if (!this.editedRecord.transactionData.recordHash) {
        this.editedRecord.transactionData.recordHash = Math.random().toString(36).replace(/[^a-z]+/g, '');
      }

      this.modalOpen = false;
      this.$emit('save', this.editedRecord);
    },

    cancel() {
      this.modalOpen = false;
    },

    cancelDivision() {
      this.editingDivision = false;
    },

    saveDivision() {
      if (!this.validateDivision()) {
        return;
      }
      this.editedDivision.value = Number.parseFloat((this.editedDivision as any).value);
      this.editingDivision = false;
      this.editedRecord.entries.splice(this.editedDivisionIndex, 1, this.editedDivision);
    }
  },

  props: {
    categories: Array
  }
});
</script>

<!--suppress CssUnusedSymbol -->
<style>
.selectableRow:hover {
  background-color: #ebebeb;
}
.v-dialog--active {
  overflow: visible !important;
}
.v-dialog--persistent {
  overflow: visible !important;
}
</style>
