<template>
  <div style="padding: 10px">
    <waid-single-field-modal
        title="Add category"
        ref="categoryModal"
        label="Category name"
        :type="ModalType.StringModal"
        @save="(val) => addCategory(val)"
    />
    <v-card color="surface">
      <div style="margin-top: -20px; margin-left: -20px">
        <v-chip large><b>Financial categories</b>
          <v-btn icon @click="$refs.categoryModal.open()">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-chip>
      </div>
      <v-layout row>
        <div v-for="(category, index) in categoriesWithoutEmpty" style="width: 300px">
          <edit-single-category
              style="margin-left: 20px"
              :category="category"
              :categories="categories"
              :records="records"
              :path="[]"
              @refresh="refresh"
          />
          <div style="height: 20px"/>
        </div>
      </v-layout>
    </v-card>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue';
import {FinancesAPI, FinancialCategoryDto} from '@/Api';
import LoginManager from '@/Login/LoginManager';
import EditSingleCategory from '@/Finances/EditSingleCategory.vue';
import {ModalType} from '@/GenericComponents/ModalType';
import WaidSingleFieldModal from '@/GenericComponents/WaidSingleFieldModal.vue';

export default Vue.extend({
  name: 'EditCategoriesMenu',
  components: {EditSingleCategory, WaidSingleFieldModal},
  data() {
    return {
      ModalType,
      existingCategories: [] as FinancialCategoryDto[]
    };
  },

  computed: {
    categoriesWithoutEmpty(): FinancialCategoryDto[] {
      return this.existingCategories.filter((x) => x.name);
    }
  },

  methods: {
    addCategory(name: string) {
      new FinancesAPI().addCategory(LoginManager.getUserId(), [name]).then(this.refresh);
    },

    refresh() {
      new FinancesAPI().getUserCategories(LoginManager.getUserId())
          .then((result) => {
                this.existingCategories = result;
                this.$emit('refresh');
              }
          );
    }
  },

  mounted() {
    this.refresh();
  },

  props: {
    categories: {},
    records: {}
  }

});
</script>
