<template>
  <v-dialog
      max-width="1000"
      v-model="isOpen"
  >
    <v-card style="overflow: scroll;">
      <v-card-title color="primary">
        <v-icon large color="black">mdi-cogs</v-icon>
        &emsp;
        <h3>
          Settings
        </h3>
      </v-card-title>
      <v-card-text v-if="!loaded">
        <br>
        <edit-categories-menu
            :categories="categories"
            :records="records"
            @refresh="refresh"
        />
        <br>

        <div style="padding: 10px">
          <v-card color="surface">
            <div style="margin-top: -20px; margin-left: -20px">
              <v-chip large><b>Categories groups</b>
                <v-btn icon @click="addCategoriesGroup">
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </v-chip>
            </div>

            <div style="height: 30px;"/>
            <v-card-text>
              <div v-for="(group, index) of settings.categoriesGroups" :key="index">

                <v-text-field
                    label="name"
                    v-model="group.name"
                />
                <ChooseMultipleCategories
                    v-model="group.elements"
                    :categories="categories"
                />
                <v-divider/>

              </div>
              <div style="height: 30px;"/>

              <h2 style="padding-bottom: 10px; padding-top: 10px">Ignored categories</h2>
              <ChooseMultipleCategories
                  v-model="settings.defaultIgnoredCategories"
                  :categories="categories"
              />
            </v-card-text>
          </v-card>
        </div>
        <div style="height: 30px;"/>
        <v-btn color="primary" @click="save">save</v-btn> &emsp;
        <v-btn color="primary" @click="close">close</v-btn>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang='ts'>
import Vue, {PropType} from 'vue';
import {CategoriesGroupDto, FinancesAPI, FinancesSettingsDto, FinancialRecordDto} from '@/Api';
import LoginManager from '@/Login/LoginManager';
import PrettyJSON from '@/GenericComponents/PrettyJSON.vue';
import EditCategoriesMenu from '@/Finances/EditCategoriesMenu.vue';
import ChooseMultipleCategories from '@/Finances/ChooseMultipleCategories.vue';

export default Vue.extend({
  name: 'EditSettingsMenu',
  components: {PrettyJSON, EditCategoriesMenu, ChooseMultipleCategories},
  data() {
    return {
      isOpen: false as boolean,
      loaded: false as boolean,
      settings: new FinancesSettingsDto() as FinancesSettingsDto
    };
  },

  methods: {

    addCategoriesGroup() {
      this.settings.categoriesGroups.push(new CategoriesGroupDto());
    },

    open() {
      this.isOpen = true;
      this.loaded = false;
      new FinancesAPI().getUserSettings(LoginManager.getUserId()).then(
          (result) => {
            this.settings = result;
            this.loaded = false;
          });

    },

    close() {
      this.isOpen = false;
    },

    refresh() {
      this.$emit('refresh');
    },

    save() {
      this.$emit('refresh');
      this.isOpen = false;
      new FinancesAPI().updateUserSettings(LoginManager.getUserId(), this.settings);
    }
  },

  props: {
    categories: {
      type: Array as PropType<string[]>
    },
    records: {
      type: Array as PropType<FinancialRecordDto[]>
    }
  }
});
</script>
