<template>
  <div style="padding: 5px 15px 5px 15px;">
    <waid-single-field-modal
        title="Add category"
        ref="categoryModal"
        label="Category name"
        :type="ModalType.StringModal"
        @save="(val) => addCategory(val)"
    />
    <waid-single-field-modal
        title="Rename category"
        ref="renameModal"
        label="Category name"
        :type="ModalType.StringModal"
        @save="(val) => renameCategory(val)"
    />
    <move-category-modal
        ref="moveModal"
        :categories=categories
        @save="moveCategory"
    />
    <v-menu v-model="contextMenuOpen"
            :position-x="x"
            :position-y="y">
      <v-list color="surface" width="300px">
        <v-list-item
            v-if="path.length !== 2"
            color="surface"
            @click="$refs.categoryModal.open()"
        >
          <v-icon>mdi-plus</v-icon>
          &emsp;

          <v-list-item-title>add category</v-list-item-title>
        </v-list-item>
        <v-list-item
            color="surface"
            @click="$refs.renameModal.open()"
        >
          <v-icon>mdi-pencil</v-icon>
          &emsp;
          <v-list-item-title>rename</v-list-item-title>
        </v-list-item>
        <v-list-item
            color="surface"
            @click="$refs.moveModal.open()"
        >
          <v-icon>mdi-swap-horizontal</v-icon>
          &emsp;
          <v-list-item-title>move records</v-list-item-title>
        </v-list-item>
        <v-list-item
            v-if="recordsCount === 0"
            color="surface"
            @click="deleteCategory"
        >
          <v-icon>mdi-delete</v-icon>
          &emsp;
          <v-list-item-title>delete</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <div>
      <v-layout row style="padding-right: 10px">
        <v-layout row v-if="category.children.length === 0 && path.length > 0 ">
          <v-chip color="secondary" @contextmenu="contextMenuOpened($event)">
            {{ category.name }}
          </v-chip>
          <v-chip :color="recordsCount ? 'primary' : 'secondary lighten-1'" small>
            {{ recordsCount + 'x' }}
          </v-chip>
        </v-layout>
        <v-card :color="'surface darken-' + path.length.toString()" elevation="10" v-else>
          <div style="width: 200px">
            <v-layout row>
              <v-chip color="secondary " @contextmenu="contextMenuOpened($event)">
                {{ category.name }}
              </v-chip>
              <v-chip :color="recordsCount ? 'primary' : 'secondary lighten-1'" small>
                {{ recordsCount + 'x' }}
              </v-chip>
            </v-layout>
          </div>
          <div v-for="(child, index) in category.children" style="padding-left: 20px">
            <edit-single-category
                :categories="categories"
                :path="path.concat([category.name])"
                :category="child"
                @refresh="refresh"
                :records="records"
            />
          </div>
        </v-card>
      </v-layout>
    </div>
  </div>
</template>

<script lang='ts'>
import Vue, {PropType} from 'vue';
import WaidSingleFieldModal from '@/GenericComponents/WaidSingleFieldModal.vue';
import {ModalType} from '@/GenericComponents/ModalType';
import {FinancesAPI, FinancialCategoryDto, FinancialRecordDto, RenameCategoryDto} from '@/Api';
import LoginManager from '@/Login/LoginManager';
import MoveCategoryModal from '@/Finances/MoveCategoryModal.vue';
import RecordsFilterUtils from '@/Finances/RecordsFilterUtils';

export default Vue.extend({
  components: {WaidSingleFieldModal, MoveCategoryModal},
  name: 'EditSingleCategory',
  data() {
    return {
      ModalType,
      contextMenuOpen: false as boolean,
      x: 0 as number,
      y: 0 as number,
      positions: {
        clientX: undefined,
        clientY: undefined,
        movementX: 0,
        movementY: 0
      }
    };
  },

  computed: {
    recordsCount(): number {
      return this.records.filter((x) =>
          RecordsFilterUtils.categoriesMatch(this.fullPath, x.entries[0].category)).length;
    },

    fullPath(): string[] {
      return this.path.concat([this.category.name]) as string[];
    }
  },

  methods: {

    deleteCategory() {
      new FinancesAPI().deleteCategory(LoginManager.getUserId(), this.fullPath).then(this.refresh);
    },

    addCategory(name: string) {
      new FinancesAPI().addCategory(LoginManager.getUserId(), this.fullPath.concat(name)).then(this.refresh);
    },

    refresh() {
      this.$emit('refresh');
    },

    renameCategory(newName: string) {
      const renameDto = new RenameCategoryDto();
      renameDto.oldPath = this.fullPath;
      renameDto.newPath = this.path.concat([newName]) as string[];
      new FinancesAPI().renameCategory(LoginManager.getUserId(), renameDto).then(this.refresh);
    },

    moveCategory(destination: string[]) {
      const renameDto = new RenameCategoryDto();
      renameDto.oldPath = this.fullPath;
      renameDto.newPath = destination;
      new FinancesAPI().renameCategory(LoginManager.getUserId(), renameDto).then(this.refresh);
    },

    contextMenuOpened(event: any) {
      this.x = event.clientX;
      this.y = event.clientY;
      this.contextMenuOpen = true;
      event.preventDefault();
    },
  },

  props: {
    categories: {},
    category: {
      type: Object as PropType<FinancialCategoryDto>
    },
    records: {
      type: Array as PropType<FinancialRecordDto[]>
    },
    path: Array
  }
});
</script>
