<template>
  <v-layout row>
    <div v-for="(category, index) in categoryPath" :key="category">
      <v-layout row>
        <v-chip
            v-if="category"
            color="secondary"
            style=" margin-left: 12px; margin-right: 12px"
            small
        >
          {{ category }}
        </v-chip>
        <v-chip
            v-else
            color="primary"
            style=" margin-left: 12px; margin-right: 12px"
            small
        >
          Without category
        </v-chip>
      </v-layout>
    </div>
  </v-layout>
</template>

<script lang='ts'>
import Vue, {PropType} from 'vue';

export default Vue.extend({
  name: 'FinancialCategory',

  props: {
    categoryPath: {
      type: Array as PropType<string[]>
    }
  }
});
</script>
