<template>
  <div style="padding: 15px">
    <v-data-table
        style="table-layout : fixed;"
        :search="searchInternal"
        :headers="headers"
        :items="records"
        item-key="uniqueId"
        class="elevation-1"
        :custom-sort="sortFunction"
    >
      <template v-slot:item.entries[0].category="{ item }">
        <financial-category
            :category-path="item.entries[0].category"
        />
      </template>
      <template v-slot:item.type="{ item }">
        <v-chip small :color="TransactionType(item) === 'unknown' ? 'primary' : 'secondary'" dark>
          {{ TransactionType(item) }}
        </v-chip>
      </template>
      <template v-slot:item.date="{ item }">
        {{ formatDate(item.entries[0].date) }}
      </template>
      <template v-slot:item.action="{ item }">
        <v-icon
            small
            class="mr-2"
            @click="editItem(item)"
        >
          mdi-pencil
        </v-icon>
<!--        <v-icon-->
<!--            small-->
<!--            @click="deleteItem(item)"-->
<!--        >-->
<!--          mdi-delete-->
<!--        </v-icon>-->
      </template>
    </v-data-table>
  </div>
</template>

<script lang='ts'>
import Vue, {PropType} from 'vue';
import {DateDto, FinancialRecordDto} from '@/Api';
import TimeUtils from '@/Utils/TimeUtils';
import FinancialCategory from '@/Finances/FinancialCategory.vue';
import FinancialCategoriesUtils from '@/Finances/FinancialCategoriesUtils';

export default Vue.extend({
  name: 'FinancialRecordsTable',

  components: {FinancialCategory},

  data() {
    return {
      searchInternal: '',
      headers: [
        {text: 'Name', value: 'transactionData.name', sortable: false, width: '18%'},
        {text: 'Description', value: 'entries[0].description', sortable: false, width: '20%'},
        {text: 'Category', value: 'entries[0].category', sortable: false, width: '18%'},
        {text: 'Type', value: 'type', sortable: true, width: '12%'},
        {text: 'Date', value: 'date', width: '12%'},
        {text: 'Value', value: 'entries[0].value', width: '10%'},
        {text: 'Actions', value: 'action', sortable: false, width: '10%'},
      ],
    };
  },

  methods: {

    TransactionType(record: FinancialRecordDto): string {
      return FinancialCategoriesUtils.extractTransactionType(record);
    },

    formatDate(date: DateDto): string {
      return TimeUtils.formatDateDto(date);
    },

    sortFunction(items: FinancialRecordDto[], sortBy: string[], desc: boolean[]): FinancialRecordDto[] {
      if (sortBy.length === 0) {
        return items;
      }
      if (sortBy[0] === 'entries[0].value') {
        items.sort((a, b) => (a.entries[0].value < b.entries[0].value) ? 1 : -1);
        if (!desc[0]) {
          items = items.reverse();
        }
        return items;
      }
      if (sortBy[0] === 'date') {
        items.sort((a, b) => {
          const aFormattedDate = TimeUtils.formatDateDto(a.entries[0].date);
          const bFormattedDate = TimeUtils.formatDateDto(b.entries[0].date);
          return aFormattedDate < bFormattedDate ? 1 : -1;
        });
        if (!desc[0]) {
          items = items.reverse();
        }
        return items;
      }
      if (sortBy[0] === 'type') {
        items.sort((a, b) => {
          return this.TransactionType(a) < this.TransactionType(b) ? 1 : -1;
        });
        if (!desc[0]) {
          items = items.reverse();
        }
        return items;
      }
      return items;
    },

    editItem(item: FinancialRecordDto) {
      this.$emit('edit', item);
    },

    deleteItem(item: FinancialRecordDto) {
      this.$emit('delete', item);
    }
  },

  watch: {
    searchInternal: {
      handler(val) {
        this.$emit('update:search', val);
      }
    },
    search: {
      handler(val) {
        this.searchInternal = val;
      }
    }
  },

  props: {
    search: String,

    records: {
      type: Array as PropType<FinancialRecordDto[]>
    }
  }
});
</script>

