<template>
    <div>
        <h2
                :style="'padding: 15px; ' + (isLight ? 'color: black' : 'color: white') ">Charts</h2>
        <v-layout row>
          <v-switch
                  style="padding-left: 15px"
                  v-model="showAll"
                  color="secondary"
                  label="show invidual categories"
          />
          <v-switch
              v-if="showAll"
              style="padding-left: 15px"
              v-model="mergeSubcategories"
              color="secondary"
              label="merge sub-categories"
          />
          <v-switch
              style="padding-left: 15px"
              v-model="averageThreeMonths"
              color="secondary"
              label="average from 3 months"
          />
        </v-layout>
        <apexchart
                style="padding: 15px"
                :options="options"
                :series="series"
        />
    </div>
</template>

<script lang='ts'>
    import Vue, {PropType} from 'vue';
    import {FinancialRecordDto} from '@/Api';
    import ThemeUtils from '@/Utils/ThemeUtils';
    import ApexChartsUtils from '@/Finances/ApexChartsUtils';
    import VueApexCharts from 'vue-apexcharts';

    Vue.component('apexchart', VueApexCharts);

    export default Vue.extend({
        name: 'FinancesChart',

        data() {
            return {
                showAll: false,
                averageThreeMonths: false,
                mergeSubcategories: false,
                options: {
                    theme: {
                        mode: ThemeUtils.isLight() ? 'light' : 'dark',
                        monochrome: {
                            enabled: true,
                            color: ThemeUtils.isLight() ? '#7E57C2' : '#FF7043',
                            shadeTo: 'light',
                            shadeIntensity: 0.9
                        }
                    },

                    dataLabels: {
                        enabled: true,
                    },
                    legend: {
                        onItemClick: {
                            toggleDataSeries: false
                        },
                        position: 'top',
                        horizontalAlign: 'left'
                    },
                    chart: {
                        animations: {
                            enabled: false
                        },
                        background: ThemeUtils.isLight() ? '#f8f8f8' : '#4a4a4a',
                        type: 'area',
                        zoom: {
                            enabled: false
                        },
                        toolbar: {
                            show: false
                        },
                        stacked: true,
                    },
                    stroke: {
                        width: 3,
                        curve: 'smooth'
                    },
                    yaxis: {
                      reversed: true,
                    },
                    xaxis: {
                        type: 'category',
                        categories: [] as string[]
                    }
                }
            };
        },

        computed: {

            isLight() {
                return ThemeUtils.isLight();
            },

            series(): any[] {
                let result = [];
                if (this.showAll) {
                    result = ApexChartsUtils.generateSeries(this.records,
                        ApexChartsUtils.seriesNames(this.records, this.mergeSubcategories),
                        this.xLabels, this.mergeSubcategories);
                } else {
                    result = ApexChartsUtils.generateSumSeries(this.records, this.xLabels);
                }
                result = ApexChartsUtils.averageSeries(result, this.averageThreeMonths ? 3 : 1);
                return result;
            },
        },

        props: {
            records: {
                type: Array as PropType<FinancialRecordDto[]>,
            },
            xLabels: {
                type: Array as PropType<string[]>
            }
        },

        watch: {
            xLabels: {
                handler(val) {
                    (this.options as any) = {
                        xaxis: {
                            categories: val
                        }
                    };
                }
            }
        }
    });
</script>
