<template>
  <div>
    <div>
      <h1 :style="'padding: 15px; ' + (isLight ? 'color: black' : 'color: white') ">
        Finances
        <v-icon large color="black" @click="startEditSettings"> mdi-cogs</v-icon>
      </h1>
    </div>
    <edit-settings-menu
        :categories="categories"
        :records="dividedRecords"
        ref="settingsModal"
        @refresh="refresh"
    />
    <batch-set-categories-modal
        ref="batchModal"
        :categories="categories"
        @save="saveDividedItemsCategories"
        :is-mobile="isMobile"
    />
    <div>
      <div style="max-width: 1500px">
        <h2 style="padding: 10px">Filters</h2>
        <v-layout row style="padding-left:10px; padding-right: 10px">
          <v-flex xs6>
            <financial-categories-filter
                :categories="categories"
                :settings="settings"
                v-model="chosenCategories"
            />
          </v-flex>
          <div v-if="isMobile"><br></div>
          <v-flex xs6>
            <financial-timeline-slider
                :months="months"
                v-model="chosenMonths"
            />
          </v-flex>
        </v-layout>
        <v-layout row style="padding-left:10px; padding-right: 10px">
          <v-flex xs6>
            <v-combobox
                style="padding: 15px; width: 400px"
                v-model="chosenTypes"
                :items="availableTypes"
                label="Types to show"
                multiple
                chips
            >
              <template v-slot:selection="data">
                <v-chip
                    small :color="data.item === 'unknown' ? 'primary' : 'secondary'" dark
                    :key="JSON.stringify(data.item)"
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    :disabled="data.disabled"
                    @click:close="data.parent.selectItem(data.item)"
                >
                  {{ data.item }}
                </v-chip>
              </template>
            </v-combobox>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs8>
            <h2 :style="'padding: 15px; ' + (isLight ? 'color: black' : 'color: white') ">
              Financial records
              {{ uncategorizedCount ? ' (' + uncategorizedCount + ' without assigned category)' : '' }}
              &emsp;
              <v-btn small v-if="uncategorizedCount" @click="startBatchSetCategories" color="secondary">Fill missing
                categories
              </v-btn>
            </h2>
          </v-flex>
          <v-flex xs4>
            <v-text-field
                style="padding: 15px"
                v-model="searchRaw"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
                @input="updateSearch"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <div style="height: 10px"></div>
        <v-layout justify-center v-if="loadingData">
          <v-progress-circular
              style="margin-top: 50px; margin-bottom: 200px"
              indeterminate
              color="secondary"
          />
        </v-layout>
        <financial-records-table
            v-if="!loadingData"
            :records="recordsFiltered"
            @edit="editItem"
            @delete="deleteItem"
        />
        <div style="height: 10px"></div>
        <finances-chart :records="recordsFiltered" :x-labels="chosenMonths"/>

      </div>
    </div>
    <edit-financial-record-modal
        ref="modal"
        :categories="categories"
        @save="saveItem"
    />

  </div>
</template>

<script lang='ts'>
import Vue from 'vue';
import {
  FinancesAPI,
  FinancesSettingsDto, FinancialCategoryDto,
  FinancialRecordDto,
} from '@/Api';
import LoginManager from '@/Login/LoginManager';
import FinancesChart from '@/Finances/FinancesChart.vue';
import WaidValidationError from '@/GenericComponents/WaidValidationError.vue';
import ThemeUtils from '@/Utils/ThemeUtils';
import ApexChartsUtils from '@/Finances/ApexChartsUtils';
import EditFinancialRecordModal from '@/Finances/EditFinancialRecordModal.vue';
import FinancialRecordsTable from '@/Finances/FinancialRecordsTable.vue';
import TimeUtils from '@/Utils/TimeUtils';
import RecordsFilterUtils from '@/Finances/RecordsFilterUtils';
import EditSettingsMenu from '@/Finances/EditSettingsMenu.vue';
import EditCategoriesMenu from '@/Finances/EditCategoriesMenu.vue';
import FinancialCategoriesUtils from '@/Finances/FinancialCategoriesUtils';
import FinancialTimelineSlider from '@/Finances/FinancialTimelineSlider.vue';
import FinancialCategoriesFilter from '@/Finances/FinancialCategoriesFilter.vue';
import PortabilityUtils from '@/Utils/PortabilityUtils';
import BatchSetCategoriesModal from '@/Finances/BatchSetCategoriesModal.vue';


export default Vue.extend({
  name: 'FinancesView',
  components: {
    BatchSetCategoriesModal,
    FinancialCategoriesFilter,
    FinancialTimelineSlider,
    FinancesChart,
    EditCategoriesMenu,
    EditFinancialRecordModal,
    FinancialRecordsTable,
    WaidValidationError,
    EditSettingsMenu
  },

  data() {
    return {
      loadingData: false as boolean,
      months: [] as string[],
      chosenMonths: [] as string[],
      settings: new FinancesSettingsDto() as FinancesSettingsDto,
      searchRaw: '',
      search: '',
      timeout: null as number | null,
      chosenCategories: [] as string[][],
      chosenTypes: [] as string[],
      userCategories: [] as FinancialCategoryDto[],
      categories: [] as string[][],
      records: [] as FinancialRecordDto[],
      isMobile: PortabilityUtils.isMobile()
    };
  },

  computed: {

    availableTypes(): string[] {
      return FinancialCategoriesUtils.computeAllTransactionTypes(this.dividedRecords);
    },

    uncategorizedCount(): number {
      return this.uncategorizedRecords.length;
    },

    uncategorizedRecords(): FinancialRecordDto[] {
      return this.recordsFiltered.filter(x => x.entries.find(y => y.category[0] === '') !== undefined);
    },

    dividedRecords(): FinancialRecordDto[] {
      const result = [];
      for (const record of this.records) {
        for (const division of record.entries) {
          const copy: FinancialRecordDto = JSON.parse(JSON.stringify(record));
          copy.entries = [];
          copy.entries.push(division);
          result.push(this.postprocessRecord(copy));
        }
      }
      return result;
    },

    isLight() {
      return ThemeUtils.isLight();
    },

    recordsFiltered(): FinancialRecordDto[] {
      return RecordsFilterUtils.filteredRecords(
          this.dividedRecords,
          this.search,
          this.chosenTypes,
          this.chosenCategories,
          this.chosenMonths);
    },
  },

  methods: {

    updateSearch() {
        if (this.timeout)
          clearTimeout(this.timeout);

        this.timeout = setTimeout(() => {
          this.search = this.searchRaw;
        }, 500); // delay
    },

    postprocessRecord(record: FinancialRecordDto): FinancialRecordDto {
      if (!record.transactionData.name) {
        record.transactionData.name = '';
      }
      record.transactionData.name = record.transactionData.name.trim();
      if (record.transactionData.name.length > 80) {
        record.transactionData.name =
            '(...) ' + record.transactionData.name.substring(record.transactionData.name.length - 80);
      }
      return record;
    },

    startEditSettings() {
      (this.$refs.settingsModal as any).open();
    },

    startBatchSetCategories() {
      (this.$refs.batchModal as any).open(this.uncategorizedRecords);
    },

    deleteItem(item: FinancialRecordDto) {
      new FinancesAPI().deleteRecord(LoginManager.getUserId(), item.recordId).then(() => this.refresh());
    },

    addNewItem() {
      (this.$refs.modal as any).open();
    },

    editItem(item: FinancialRecordDto) {
      (this.$refs.modal as any)
          .open(this.records.find((x) => item.transactionData.recordHash === x.transactionData.recordHash));
    },

    saveDividedItemsCategories(items: FinancialRecordDto[]) {
      const itemsUndivided: FinancialRecordDto[] = [];
      for (const item of items) {
        if (!itemsUndivided.find(x => x.recordId === item.recordId)) {
          itemsUndivided.push(this.records.find(x => x.recordId === item.recordId) as any);
        }
        const undividedItem = itemsUndivided.find(x => x.recordId === item.recordId);
        if (!undividedItem) {
          continue;
        }
        const newDivision = item.entries[0];
        const division = undividedItem.entries.find(x => x.description == newDivision.description && x.value == newDivision.value);
        if (!division) {
          continue;
        }
        division.category = newDivision.category;
      }
      this.saveItems(itemsUndivided);
    },

    saveItems(items: FinancialRecordDto[]) {
      this.loadingData = true;
      if (items.length === 0) {
        this.refresh();
        return;
      }
      new FinancesAPI().updateRecord(LoginManager.getUserId(), items[0]).then(() => {
        this.saveItems(items.slice(1));
      });
    },

    saveItem(item: FinancialRecordDto) {
      this.loadingData = true;
      if (item.recordId !== -1) {
        new FinancesAPI().updateRecord(LoginManager.getUserId(), item).then(() => {
          this.refresh();
        });
      } else {
        new FinancesAPI().addRecord(LoginManager.getUserId(), item).then(() => {
          this.refresh();
        });
      }
    },

    refresh(): void {
      this.loadingData = true;
      new FinancesAPI().getUserCategories(LoginManager.getUserId()).then((result) => {
        this.userCategories = result;
        this.categories = FinancialCategoriesUtils.computeAllCategories(result);
      });

      new FinancesAPI().getUserSettings(LoginManager.getUserId()).then((result) => {
        this.settings = result;
      });

      new FinancesAPI().getUserRecords(LoginManager.getUserId())
          .then((response) => {
            this.records = response;
            if (this.chosenTypes.length === 0) {
              this.chosenTypes = FinancialCategoriesUtils.computeAllTransactionTypes(response);
            }
            this.records = this.records.sort((a, b) => {
              const aFormattedDate = TimeUtils.formatDateDto(a.entries[0].date);
              const bFormattedDate = TimeUtils.formatDateDto(b.entries[0].date);
              return aFormattedDate < bFormattedDate ? 1 : -1;
            });
            this.months = ApexChartsUtils.xLabels(this.records);
            this.loadingData = false;
          });
    }
  },

  mounted(): void {
    window.addEventListener('resize', () => this.isMobile = PortabilityUtils.isMobile());
    this.refresh();
  }
});
</script>
