<template>
  <div>
    <v-layout>
      <v-flex xs6>
        <v-select
            style="padding: 15px; width: 400px"
            v-model="timelineLabel"
            :items="timelineOptions"
            label="Time interval"
            @change="timelineOptionChosen"
        />
      </v-flex>
    </v-layout>

    <div style="padding-top: 20px; width: 400px; padding-bottom: 20px" v-if="timelineLabel === 'Custom interval'">
      <v-layout>
        <div style="width: 80px;">
          &emsp;{{ months[monthsRange[0]] }}
        </div>
        <v-range-slider
            v-model="monthsRange"
            :max="months.length"
            :min="0"
            hide-details
            class="align-center"
            @change="updateChosenMonths"
        />
        <div style="width: 80px;">
          &emsp;{{ months[monthsRange[1] - 1] }}
        </div>
      </v-layout>
    </div>
  </div>
</template>

<script lang='ts'>
import Vue, {PropType} from 'vue';

export default Vue.extend({
  name: 'FinancialTimelineSlider',
  data() {
    return {
      monthsRange: [0, 0] as any,
      timelineOptions: [
        'This month',
        'Last month',
        'Last 3 months',
        'Last 6 months',
        'Custom interval',
        'All history'
      ] as string[],
      timelineLabel: 'This month',
      initialized: false as boolean,
      chosenMonths: [] as string[],
    };
  },

  methods: {
    timelineOptionChosen(val: string) {
      const monthsCount = this.months.length;
      switch (val) {
        case 'This month':
          this.monthsRange = [monthsCount - 1, monthsCount];
          break;
        case 'Last month':
          this.monthsRange = [monthsCount - 2, monthsCount - 1];
          break;
        case 'Last 3 months':
          this.monthsRange = [monthsCount - 3, monthsCount];
          break;
        case 'Last 6 months':
          this.monthsRange = [monthsCount - 6, monthsCount];
          break;
        case 'All history':
          this.monthsRange = [0, monthsCount + 1];
          break;
      }
      this.updateChosenMonths();
    },

    updateChosenMonths() {
      this.chosenMonths = this.months.slice(this.monthsRange[0], this.monthsRange[1]);
      this.$emit('input', this.chosenMonths);
    },
  },

  props: {
    months: {
      type: Array as PropType<string[]>
    },
    value: Array
  },

  watch: {
    months: {
      immediate: true,
      handler() {
        this.timelineOptionChosen(this.timelineLabel);
      }
    }
  }
});
</script>
