<template>
  <div>
    <v-layout>
      <v-flex xs6>
        <v-select
            style="padding: 15px; width: 400px"
            v-model="categoryLabel"
            :items="categoriesOptions"
            label="Categories"
            @change="categoryOptionChosen"
        />
      </v-flex>
    </v-layout>
    <v-flex xs6 v-if="categoryLabel === 'Single category'">
      <choose-category
          style="padding: 15px; width: 400px; margin-bottom: 15px"
          label="Category to show"
          :categories="categories"
          v-model="customChosen"
      />
    </v-flex>
    <v-flex xs6 v-if="categoryLabel === 'Defined group'">
      <v-select
          style="padding: 15px; width: 400px"
          v-model="customGroupChosen"
          item-text="name"
          item-value="elements"
          :items="settings.categoriesGroups"
          label="Defined group"
      />
    </v-flex>
  </div>
</template>

<script lang='ts'>
import Vue, {PropType} from 'vue';
import {FinancesSettingsDto} from '@/Api';
import ChooseCategory from '@/Finances/ChooseCategory.vue';
import RecordsFilterUtils from '@/Finances/RecordsFilterUtils';

export default Vue.extend({
  name: 'FinancialCategoriesFilter',
  components: {ChooseCategory},

  data() {
    return {
      categoriesOptions: ['All (without ignored)', 'All', 'Not categorized', 'Ignored', 'Defined group', 'Single category'] as string[],
      categoryLabel: 'All (without ignored)',
      customChosen: [] as string[],
      customGroupChosen: [] as string[][]
    };
  },

  methods: {

    isIgnored(category: string[]) {
      const categoriesMatchFilter = (x: string[]) => RecordsFilterUtils.categoriesMatch(x, category);
      return this.settings.defaultIgnoredCategories.find(categoriesMatchFilter) !== undefined;
    },

    categoryOptionChosen(option: string) {
      switch (option) {
        case 'All (without ignored)':
          this.$emit('input', this.categories.filter((x) => !this.isIgnored(x)));
          break;
        case 'All':
          this.$emit('input', this.categories);
          break;
        case 'Ignored':
          this.$emit('input', this.categories.filter((x) => this.isIgnored(x)));
          break;
        case 'Not categorized':
          this.$emit('input', [[""]]);
          break;
        case 'Single category':
          const categoriesMatchFilter = (x: string[]) => RecordsFilterUtils.categoriesMatch(this.customChosen, x);
          this.$emit('input', this.categories.filter(categoriesMatchFilter));
          break;
        case 'Defined group':
          const multipleCategoriesMatchFilter =
              (x: string[]) => RecordsFilterUtils.anyCategoryMatch(this.customGroupChosen, x);
          this.$emit('input', this.categories.filter(multipleCategoriesMatchFilter));
          break;
      }
    }
  },

  watch: {

    customGroupChosen() {
      this.categoryOptionChosen(this.categoryLabel);
    },
    customChosen(): void {
      this.categoryOptionChosen(this.categoryLabel);
    },
    categories(): void {
      this.categoryOptionChosen(this.categoryLabel);
    },
    settings(): void {
      this.categoryOptionChosen(this.categoryLabel);
    }
  },

  props: {
    categories: {
      type: Array as PropType<string[][]>
    },
    settings: {
      type: Object as PropType<FinancesSettingsDto>
    }
  }
});
</script>
