<template>
  <v-dialog
      color="surface"
      v-model="modalOpen"
      max-width="500px"
      persistent
  >
    <v-card>
      <v-card-title>Move category</v-card-title>
      <v-card-text>
        <choose-category
            style="padding: 10px"
            :categories="categories"
            label="destination"
            v-model="dest"/>
        <v-layout>
          <v-btn
              color="secondary"
              @click="closeAndSave"
          >
            Save
          </v-btn>
          &emsp;
          <v-btn
              color="secondary"
              @click="close"
          >
            Close
          </v-btn>
        </v-layout>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang='ts'>
import Vue from 'vue';
import ChooseCategory from '@/Finances/ChooseCategory.vue';

export default Vue.extend({
  name: 'MoveCategoryModal',
  components: {ChooseCategory},
  data() {
    return {
      dest: [] as string[],
      modalOpen: false as boolean
    };
  },

  methods: {
    open(): void {
      this.modalOpen = true;
    },

    initValue() {
      this.dest = [];
    },

    close() {
      this.modalOpen = false;
      this.initValue();
    },

    closeAndSave(): void {
      this.$emit('save', this.dest);
      this.close();
    },

  },
  props: {
    categories: {},
    value: {}
  }
});
</script>
