<template>
    <v-card>
        <pre v-html="prettyJSON(json)"/>
    </v-card>
</template>

<script>
    export default {
        name: 'PrettyJSON',

        props: {
            json: {}
        },
        methods: {

            matchFunction(match) {
                let cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';

            },

            prettyJSON(json) {
                if (json) {
                    json = JSON.stringify(json, undefined, 4);
                    json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');

                    // tslint:disable-next-line:max-line-length
                    const searchValue = /("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g;
                    return json.replace(searchValue, this.matchFunction);
                }
            }
            ,
        }
    }
    ;
</script>
