<template>
    <v-dialog
            color="surface"
            v-model="modalOpen"
            max-width="500px"
            :dark="!isLight"
    >
        <div style="background-color: white; padding: 15px" :dark="!isLight">
            <h2 :style="'padding-bottom: 20px; ' + (isLight ? 'color: black' : 'color: white') ">
                {{title}}
            </h2>
            <div>

                <div v-if="type === ModalType.DateTimeModal">
                    <waid-hour-picker
                            v-model="value.hour"
                            label="hour"
                    />
                    <waid-date-picker
                            v-model="value.date"
                            label="date"
                    />
                </div>

                <v-select
                        v-if="type === ModalType.SelectModal"
                        :label=label
                        v-model="value"
                        :items="selectOptions"
                        :item-text="selectItemText"
                        :item-value="selectItemValue"
                />

                <waid-date-picker
                        v-if="type === ModalType.DateModal"
                        :label=label
                        v-model="value"
                />

                <waid-hour-picker
                        v-if="type === ModalType.HourModal"
                        :label=label
                        v-model="value"
                />

                <v-text-field
                        v-if="type === ModalType.StringModal"
                        :label=label
                        v-model="value"
                />

                <v-text-field
                        v-if="type === ModalType.NumberModal"
                        :label=label
                        v-model="value"
                />

            </div>
            <v-layout>
                <v-btn
                        :dark="!isLight"
                        color="secondary"
                        @click="closeAndSave"
                >
                    Save
                </v-btn>
                &emsp;
                <v-btn
                        :dark="!isLight"
                        color="secondary"
                        @click="modalOpen = false"
                >
                    Close
                </v-btn>
            </v-layout>
        </div>
    </v-dialog>
</template>

<script lang='ts'>
    import Vue, {PropType} from 'vue';
    import ThemeUtils from '@/Utils/ThemeUtils';
    import {ModalType} from '@/GenericComponents/ModalType';
    import WaidHourPicker from '@/GenericComponents/WaidHourPicker.vue';
    import WaidDatePicker from '@/GenericComponents/WaidDatePicker.vue';
    import {DateDto, DateTimeDto, HourDto} from '@/Api';

    export default Vue.extend({
        name: 'WaidSingleFieldModal',
        components: {
            WaidHourPicker,
            WaidDatePicker
        },

        computed: {
            isLight() {
                return ThemeUtils.isLight();
            },
        },

        methods: {
            open(): void {
                this.modalOpen = true;
            },

            setValue(val: any) {
                this.value = val;
            },

            closeAndSave(): void {
                this.modalOpen = false;
                this.$emit('save', this.value);
                this.initValue();
            },

            initValue() {
                this.value = '';
                if (this.type === ModalType.DateTimeModal) {
                    this.value = new DateTimeDto();
                }
                if (this.type === ModalType.HourModal) {
                    this.value = new HourDto();
                }
                if (this.type === ModalType.DateModal) {
                    this.value = new DateDto();
                }
            }
        },

        mounted(): void {
            this.initValue();
        },

        data() {
            return {
                ModalType,
                value: '' as any,
                modalOpen: false as boolean
            };
        },

        props: {
            title: String,
            label: String,
            type: {
                type: Number as PropType<ModalType>
            },
            selectOptions: Array,
            selectItemText: String,
            selectItemValue: String
        }
    });
</script>
