<template>
    <v-layout v-if="error !== ''" style="padding-bottom: 1px">
        <v-card style="width: 100%; height: 50px" color="error" dark>
            <div style="padding: 12px">
                <v-icon>mdi-alert-circle</v-icon>
                &emsp;
                <strong>
                    <b>
                        {{error}}
                    </b>
                </strong>
            </div>
        </v-card>
    </v-layout>

</template>

<script lang='ts'>
    import Vue from 'vue';

    export default Vue.extend({

        name: 'WaidValidationError',

        props: {
            error: String
        },
    });
</script>
