<template>
    <div>
        <div style="width: 350px; padding-left: 35px">
        <v-layout row>
            <v-flex xs3>
                <v-btn style="width: 70px" :dark = "isLight" color="secondary" @click="forcedChoseHour('8:00')">8:00
                </v-btn>
            </v-flex>
            <v-flex xs3>
                <v-btn style="width: 70px" :dark = "isLight" color="secondary" @click="forcedChoseHour('10:00')">10:00
                </v-btn>
            </v-flex>
            <v-flex xs3>
                <v-btn style="width: 70px" :dark = "isLight" color="secondary" @click="forcedChoseHour('12:00')">12:00
                </v-btn>
            </v-flex>
            <v-flex xs3>
                <v-btn style="width: 70px" :dark = "isLight" color="secondary" @click="forcedChoseHour('14:00')">14:00
                </v-btn>
            </v-flex>
        </v-layout>
        <div style="height: 5px"/>
        <v-layout row>
            <v-flex xs3>
                <v-btn style="width: 70px" :dark = "isLight" color="secondary" @click="forcedChoseHour('16:00')">16:00
                </v-btn>
            </v-flex>
            <v-flex xs3>
                <v-btn style="width: 70px" :dark = "isLight" color="secondary" @click="forcedChoseHour('18:00')">18:00
                </v-btn>
            </v-flex>
            <v-flex xs3>
                <v-btn style="width: 70px" :dark = "isLight" color="secondary" @click="forcedChoseHour('20:00')">20:00
                </v-btn>
            </v-flex>
            <v-flex xs3>
                <v-btn style="width: 70px" :dark = "isLight" color="secondary" @click="forcedChoseHour('22:00')">22:00
                </v-btn>
            </v-flex>
        </v-layout>
        </div>
        <v-menu
                ref="menu"
                v-model="menuOpen"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="rawTime"
                transition="scale-transition"
                offset-y
                full-width
                :dark = "!isLight"
                max-width="290px"
                min-width="290px"
        >
            <template v-slot:activator="{ on }">
                <v-text-field
                        v-model="rawTime"
                        :label=label
                        prepend-icon="mdi-clock"
                        readonly
                        :dark = "!isLight"
                        v-on="on"
                        color="primary"
                />
            </template>

                <v-time-picker
                        v-if="menuOpen"
                        v-model="rawTime"
                        :dark = "!isLight"
                        full-width
                        format="24hr"
                        color="#535353"
                        header-color="primary"
                        :allowed-minutes=minutes
                        @click:minute="syncPropChanges"
                />
        </v-menu>
    </div>
</template>

<script lang="ts">
    import Vue, {PropType} from 'vue';
    import {HourDto} from '@/Api';
    import ThemeUtils from '@/Utils/ThemeUtils';
    import TimeUtils from '@/Utils/TimeUtils';

    export default Vue.extend({
        name: 'waid-hour-picker',

        data() {
            return {
                hour: '' as string,

                minute: '' as string,

                rawTime: '' as string,

                menuOpen: false as boolean,

            };
        },

        props: {
            value: {
                type: Object as PropType<HourDto>
            },
            label: {
                type: String
            }
        },

        computed: {

            isLight() {
                return ThemeUtils.isLight();
            },

            minutes() {
                const result = [];
                for (let i = 0; i <= 60; i += 5) {
                    result.push(i);
                }
                return result;
            }
        },

        watch: {
            value: {
                immediate: true,
                handler(val: HourDto) {
                    this.rawTime = TimeUtils.formatHourDto(val);
                }
            }
        },

        methods:

            {
                forcedChoseHour(chosen: string) {
                    this.rawTime = chosen;
                    this.syncPropChanges();
                },


                syncPropChanges(): void {
                    ((Object)(this.$refs.menu)).save(this.rawTime);

                    const hourDto = new HourDto();
                    hourDto.hour = Number.parseFloat(this.rawTime.slice(0, 2));
                    hourDto.minute = Number.parseFloat(this.rawTime.slice(3, 5));

                    this.$emit('input', hourDto);
                }
            }
    });
</script>
