<template>
    <div>
        <v-layout row>
            &emsp;
            &emsp;
            <v-btn :dark="isLight" color="secondary" @click="loadToday">Today</v-btn>
            &emsp;
            <v-btn :dark="isLight" color="secondary" @click="loadTomorrow">Tomorrow</v-btn>
        </v-layout>
        <v-menu
                v-model="modalOpen"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                full-width
                :dark="!isLight"
                color="#535353"
                header-color="#535353"
                min-width="290px"
        >
            <template v-slot:activator="{ on }">
                <v-text-field
                        :dark="!isLight"
                        v-model="rawDate"
                        :label=label
                        prepend-icon="mdi-calendar"
                        readonly
                        v-on="on"
                        color="primary"
                />
            </template>

            <v-date-picker
                    :dark="!isLight"
                    form
                    v-model="rawDate"
                    @input="saveDateAndCloseModal"
                    color="secondary"
                    header-color="primary"
            />
        </v-menu>
    </div>
</template>

<script lang="ts">
    import Vue, {PropType} from 'vue';
    import {DateDto} from '@/Api';
    import ThemeUtils from '@/Utils/ThemeUtils';
    import TimeUtils from '@/Utils/TimeUtils';

    export default Vue.extend({

        name: 'WaidDatePicker',

        data() {
            return {
                modalOpen: false as boolean,

                rawDate: '' as string
            };
        },

        computed: {
            isLight() {
                return ThemeUtils.isLight();
            }
        },

        methods: {
            loadToday() {
                const eventDate = new Date(Date.now());
                const result = new DateDto();
                result.year = eventDate.getFullYear();
                result.month = eventDate.getMonth() + 1;
                result.day = eventDate.getDate();
                this.rawDate = eventDate.toISOString().substr(0, 10);
                this.$emit('input', result);
            },

            loadTomorrow() {
                const eventDate = new Date(Date.now());
                eventDate.setDate(eventDate.getDate() + 1);
                const result = new DateDto();
                result.year = eventDate.getFullYear();
                result.month = eventDate.getMonth() + 1;
                result.day = eventDate.getDate();
                this.rawDate = eventDate.toISOString().substr(0, 10);
                this.$emit('input', result);
            },

            parseRawDate(rawDate: string): DateDto {
                const result = new DateDto();
                if (rawDate === '') {
                    return result;
                }
                result.year = Number.parseFloat(rawDate.slice(0, 4));
                result.month = Number.parseFloat(rawDate.slice(5, 7));
                result.day = Number.parseFloat(rawDate.slice(8, 10));
                return result;
            },

            saveDateAndCloseModal() {
                this.modalOpen = false;
                this.$emit('input', this.parseRawDate(this.rawDate));
            }
        },

        props: {
            value: {
                type: Object as PropType<DateDto>
            },

            label: String
        },

        watch: {
            value: {
                immediate: true,
                handler(val: DateDto) {
                    if (!val || !val.day || !val.month || !val.year) {
                        this.rawDate = '';
                    } else {
                        this.rawDate = TimeUtils.formatDateDto(val);
                    }
                }
            },
        }
    });
</script>

