<template>
  <v-dialog
      color="surface"
      v-model="modalOpen"
      max-width="500px"
  >
    <v-card v-if="apiFunction">
      <v-card-title>
        Invoke &nbsp; <b>{{ apiFunction.name }}</b>
      </v-card-title>
      <v-card-text>
        <b>parameters</b>
        <br>
        <div v-for="argument in apiFunction.arguments" :key="argument.name">
          <div v-if="argumentType(argument) === 'IntType'">
            <v-text-field
                outlined
                v-model="values[argument.name]"
                :label="argument.name"
            />
          </div>
          <div v-if="argumentType(argument) === 'BoolType'">
            <v-switch
                inset
                v-model="values[argument.name]"
                :label="argument.name"
            />
          </div>
          <div v-if="argumentType(argument) === 'StringType'">
            <v-text-field
                outlined
                v-model="values[argument.name]"
                :label="argument.name"
            />
          </div>
        </div>
        <div v-if="msToAnswer !== -1 && !waitingForAnswer">
          <b v-if="response">response</b>
          <v-card outlined v-if="response">
            <div style="height: 10px"/>
            <v-card-text>
              <b>
                {{ typeof response === 'string' ? '"' : '' }}
                {{ response }}
                {{ typeof response === 'string' ? '"' : '' }}
              </b>
            </v-card-text>
          </v-card>
          <br v-if="response">
          <strong>OK</strong>, received answer in <strong>{{ msToAnswer }}</strong>ms
          <div style="height: 10px"/>
        </div>
        <v-progress-circular
            v-if="waitingForAnswer"
            style="padding-left: 50px"
            indeterminate
            color="secondary"
        />
        <br v-if="waitingForAnswer">
        <v-btn
            :disabled="!fullyFilled"
            color="secondary"
            @click="invoke">
          invoke
        </v-btn>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang='ts'>
import Vue, {PropType} from 'vue';
import {ModalType} from '@/GenericComponents/ModalType';
import {
  AbstractType, AbstractValue, ApiRequestResult,
  AvailableAction,
  DevicesAPI,
  FunctionArgument
} from '@/Api';
import DevicesApiUtils from '@/Utils/DevicesApiUtils';
import LoginManager from '@/Login/LoginManager';

export default Vue.extend({
  name: 'ActionArgumentsModal',

  data() {
    return {
      ModalType,
      values: {} as any,
      modalOpen: false as boolean,
      response: null as AbstractValue | null,
      msToAnswer: -1 as number,
      waitingForAnswer: false as boolean
    };
  },

  computed: {
    fullyFilled(): boolean {
      return this.apiFunction.arguments.every((x) => this.values[x.name] !== undefined);
    }
  },

  methods: {

    invoke() {
      const functionArguments = this.apiFunction.arguments
          .map((x) => DevicesApiUtils.objectToAbstractValue(this.values[x.name], x.type));
      const startTime = Date.now();
      this.waitingForAnswer = true;
      new DevicesAPI().getRequestResult(
          LoginManager.getUserId(),
          this.deviceToken,
          this.apiFunction.name,
          functionArguments)
          .then((response) => this.responseReceived(response, startTime));
    },

    responseReceived(response: ApiRequestResult, startTime: number) {
      const endTime = Date.now();
      this.response = DevicesApiUtils.abstractValueToObject(response.value);
      this.waitingForAnswer = false;
      this.msToAnswer = endTime - startTime;
      this.$emit('refresh');
    },

    typeToString(type: AbstractType) {
      return DevicesApiUtils.typeToString(type);
    },


    argumentType(argument: FunctionArgument) {
      return (argument.type as any)._discriminator;
    },

    open(): void {
      this.modalOpen = true;
      this.msToAnswer = -1;
      this.values = {};
      for (const arg of this.apiFunction.arguments) {
        if (DevicesApiUtils.typeToString(arg.type) === 'bool') {
          this.values[arg.name] = false;
        }
      }
    },

  },

  props: {
    apiFunction: {type: Object as PropType<AvailableAction>},
    deviceToken: {type: String}
  }
});
</script>
