<template>
    <div>
        <h1 style='padding: 15px'>
            Devices
        </h1>
        <div v-for="(device, index) in devices">
            <single-device
                    :device="device"
                    @deleted = loadDevices
            />
        </div>
    </div>
</template>

<script lang='ts'>
    import Vue from 'vue';
    import {DeviceDto, DevicesAPI} from '@/Api';
    import LoginManager from '@/Login/LoginManager';
    import SingleDevice from '@/Devices/SingleDevice.vue';

    export default Vue.extend({

        name: 'DevicesView',
        components: {SingleDevice},

        data() {
            return {
                devices: [] as DeviceDto[]
            };
        },

        methods: {
            loadDevices(): void {
                new DevicesAPI().getUserDevices(LoginManager.getUserId())
                    .then((result) => this.devices = result);
            },
        },

        mounted(): void {
          this.loadDevices();
        }
    });
</script>
