<template>
  <v-card style="padding: 20px">
    <action-arguments-modal
        ref="argumentsModal"
        :api-function=invokedAction
        :device-token="device.deviceToken"
        @refresh="refresh"
    />
    <v-layout>
      <v-sheet style="width:7px; margin-top: -10px; margin-bottom: -10px; margin-left: -10px"
               color="secondary"/>
      <v-icon
          style="padding-left: 10px; padding-right: 20px" color="primary" large>mdi-access-point-network
      </v-icon>
      <v-layout row>
        <div style=" font-size: large">
          <b>
            {{ device.name }}
          </b>
        </div>
        &emsp;
        <v-icon
            @click="deleteDevice()"
        >
          mdi-delete
        </v-icon>
      </v-layout>
    </v-layout>
    <br>
    <v-divider/>
    <v-layout row v-for="(actionName) of device.actions"
              :key="actionName.name"
              :style="'padding: 10px; ' + (isMobile ?  'font-size: 0.7em' : '')">
      <div style="color: blueviolet"><b>{{ typeToString(actionName.returnType) }}</b></div>
      &nbsp;
      {{ actionName.name }}
      (
      <div v-if="actionName.arguments.length > 0" style="color: blueviolet">
        <b>{{ `${typeToString(actionName.arguments[0].type)} ` }}</b>
        &nbsp;
      </div>
      <div v-if="actionName.arguments.length > 0">
        {{ `   ${actionName.arguments[0].name}` }}
      </div>
      <div v-if="actionName.arguments.length > 1">, &nbsp;</div>
      <div v-if="actionName.arguments.length > 1" style="color: blueviolet">

        <b>{{ `${typeToString(actionName.arguments[1].type)} ` }}</b>
        &nbsp;
      </div>
      <div v-if="actionName.arguments.length > 1">
        {{ `   ${actionName.arguments[1].name}` }}
      </div>
      <div v-if="actionName.arguments.length > 2">, &nbsp;</div>
      <div v-if="actionName.arguments.length > 2" style="color: blueviolet">

        <b>{{ `${typeToString(actionName.arguments[2].type)} ` }}</b>
        &nbsp;
      </div>
      <div v-if="actionName.arguments.length > 2">
        {{ `   ${actionName.arguments[2].name}` }}
      </div>
      )
      &emsp;
      <v-btn color="secondary" x-small rounded @click="executeAction(actionName.name)">
        <v-icon>mdi-play</v-icon>
      </v-btn>
    </v-layout>
    <div v-for="(actionName) of device.properties"
         :key="actionName.name"
         :style="'padding-top: 10px;' + (isMobile ?  'font-size: 0.7em' : '')">
      <v-layout>
        <div style="color: blueviolet"><b>{{ typeToString(actionName.type) }}</b></div>
        &nbsp;
        <div>
          {{ actionName.name }} :
        </div>
        &emsp;
        <v-progress-circular
            v-if="loadingPropertyValue(actionName.name)"
            style="padding-left: 50px"
            indeterminate
            color="secondary"
        />
        <div v-else>
          <div v-if="failedToGetValue(actionName.name)">
            <v-icon color="primary">mdi-access-point-network-off</v-icon>
          </div>
          <div v-if="typeof(propertyValue(actionName.name)) === 'string'">
            <div v-for="(line, index) in propertyValue(actionName.name).split('\n')" :key="index">
              {{ line }}
            </div>
          </div>
          <div v-else>
            {{propertyValue(actionName.name)}}
          </div>
        </div>
      </v-layout>
    </div>
  </v-card>
</template>

<script lang='ts'>
import Vue, {PropType} from 'vue';
import {
  AbstractType,
  ApiRequestResult, AvailableAction,
  AvailableProperty,
  BoolValue,
  DeviceDto,
  DevicesAPI,
  IntValue, StringValue,
  VoidValue
} from '@/Api';
import LoginManager from '@/Login/LoginManager';
import ActionArgumentsModal from '@/Devices/ActionArgumentsModal.vue';
import DevicesApiUtils from '@/Utils/DevicesApiUtils';
import PortabilityUtils from '@/Utils/PortabilityUtils';

export default Vue.extend({
  name: 'SingleDevice',
  components: {ActionArgumentsModal},

  computed: {
    isMobile(): boolean {
      return PortabilityUtils.isMobile();
    }
  },

  methods: {
    typeToString(type: AbstractType) {
      return DevicesApiUtils.typeToString(type);
    },


    failedToGetValue(propertyName: string) {
      return this.propertiesValues[propertyName] === null;
    },

    propertyValue(propertyName: string) {
      return this.propertiesValues[propertyName];
    },

    loadingPropertyValue(propertyName: string) {
      return this.propertiesValues[propertyName] === undefined;
    },

    executeAction(actionName: string) {
      const action = this.device.actions.find((x) => x.name === actionName);
      if (action && action.arguments.length === 0) {
        new DevicesAPI().getRequestResult(LoginManager.getUserId(), this.device.deviceToken, actionName, [])
            .then(this.refresh);
      } else {
        this.invokedAction = action;
        this.$nextTick((this.$refs.argumentsModal as any).open);
      }
    },

    refresh() {
      this.propertiesValues = {};
      for (const property of this.device.properties) {
        this.getProperty(property.name);
      }
    },

    getPropertyValue(property: AvailableProperty, response: ApiRequestResult): any {
      (response.value as any).discriminator = (response.value as any)._discriminator;
      const value = response.value;
      if (value instanceof IntValue) {
        return value.value;
      }
      if (value instanceof BoolValue) {
        return value.value;
      }
      if (value instanceof StringValue) {
        return value.value;
      }
      if (value instanceof VoidValue) {
        return '-';
      }

    },

    getProperty(propertyName: string) {
      new DevicesAPI().getRequestResult(LoginManager.getUserId(), this.device.deviceToken, propertyName, [])
          .then(
              (response) => {
                const property = this.device.properties.find((x) => x.name === propertyName);
                if (property === undefined) {
                  return;
                }
                this.$set(this.propertiesValues, propertyName, this.getPropertyValue(property, response));
              },
              () => this.$set(this.propertiesValues, propertyName, null)
          );
    },

    deleteDevice() {
      new DevicesAPI().removeDevice(LoginManager.getUserId(), this.device.deviceToken)
          .then(() => this.$emit('deleted'));
    },
  },


  mounted() {
    this.refresh();
    window.addEventListener('resize', () => this.isMobile = PortabilityUtils.isMobile());
  },

  data() {
    return {
      propertiesValues: {} as any,
      invokedAction: undefined as AvailableAction | undefined,
      isMobile: PortabilityUtils.isMobile() as boolean,
    };
  },

  props: {
    device: {
      type: Object as PropType<DeviceDto>,
    }
  }
});
</script>
<style scoped>
.flex-thing {
  display: flex;
}
</style>
