<template>
    <v-container style="width: 400px;">
        <br>
        <v-text-field
                :dark = "!isLight"
                color="primary"
                label="Login(e-mail)"
                v-model=login
                prepend-icon="mdi-account"
                @input="passwordError = false"
        />
        <v-text-field
                :dark = "!isLight"
                color="primary"
                label="Password"
                v-model=password
                prepend-icon="mdi-lock"
                type="password"
                @input="passwordError = false"
        />

        <v-alert
                type="error"
                color="primary"
                v-if="passwordError">
            Wrong user or password
        </v-alert>

        <v-btn
                @click="performLogin"
                color="primary"
                dark
        >
            Sign in
        </v-btn>
    </v-container>
</template>

<script lang="ts">

    import Vue from 'vue';

    import {LoginAPI, SuccessLoginDto} from '@/Api';
    import LoginManager from '@/Login/LoginManager';
    import ThemeUtils from '@/Utils/ThemeUtils';



    export default Vue.extend({

        name: 'LoginView',

        data() {
            return {
                login: '' as string,

                password: '' as string,

                passwordError: false as boolean
            };
        },

        computed: {
            isLight() {
                return ThemeUtils.isLight();
            }
        },

        methods: {
            loginSucceeded(dto: SuccessLoginDto) {
                LoginManager.setActiveUser(dto.userId, this.login, dto.token);
                const pathToReturn  = this.$route.query.redirect_url as string;
                const decoded = atob(pathToReturn);
                this.$router.push(decoded ? decoded : '/');
            },

            performLogin() {
                new LoginAPI().login(this.login, this.password)
                    .then((response) => this.loginSucceeded(response))
                    .catch(() => this.passwordError = true);
            }
        },
    });
</script>
