<template>
    <v-container style="width: 400px; ">
        <br>
        <h2 style="color: white">Please type your new password</h2>
        <v-text-field
                :dark = "isLight"
                color="primary"
                label="Password"
                v-model=password
                prepend-icon="mdi-lock"
                type="password"
        />
        <v-text-field
                :dark = "isLight"
                color="primary"
                label="Confirm password"
                v-model=confirmPassword
                prepend-icon="mdi-lock"
                type="password"
        />
        <v-alert
                type="error"
                color="error"
                v-if="!passwordsMatch && passwordsInserted">
            The passwords don't match
        </v-alert>

        <v-alert
                type="success"
                color="primary"
                v-if="passwordsMatch && passwordsInserted">
            Passwords match
        </v-alert>
        <v-btn
                v-if="passwordsMatch && passwordsInserted"
                @click="setPassword"
                color="secondary"
                :dark = "isLight"
        >
            <v-icon>
                mdi-content-save
            </v-icon>
            Save
        </v-btn>
    </v-container>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {PasswordAPI} from '@/Api';
    import ThemeUtils from '@/Utils/ThemeUtils';

    export default Vue.extend({
        name: 'SetPasswordView',

        data() {
            return {
                password: '' as string,

                confirmPassword: '' as string
            };
        },

        computed: {
            isLight() {
                return ThemeUtils.isLight();
            },

            userId() {
                return Number.parseFloat(this.$route.params.userId);
            },

            passwordToken() {
                const token = this.$route.query.hash;
                return typeof token === 'string' ? token : '';
            },

            passwordsInserted(): boolean {
                return this.password !== '' && this.confirmPassword !== '';
            },

            passwordsMatch(): boolean {
                return this.password === this.confirmPassword;
            }


        },

        methods: {
            redirectToLoginPage() {
                this.$router.push('/login');
            },

            setPassword() {
                new PasswordAPI().setPassword(this.userId, this.passwordToken, this.password)
                    .then(this.redirectToLoginPage);

            }
        }
    });


</script>
