<template>
    <div style="padding: 10px;">
        <div :style="isMobile ? 'padding: 3px' : 'padding: 20px'">
            <v-text-field
                    :dark="!isLight"
                    v-model="name"
                    label="What do you want to remember"
                    prepend-icon="mdi-alarm"
                    color="primary"
            />
            <waid-validation-error
                    v-for="error in errors"
                    :key="error"
                    :error=error
            />
            <div v-if="errors.length > 0"> &emsp;</div>
            <div v-if="name">
                <div :style="isLight ? 'color: black' : 'color: white'" v-if="typeNotSpecified">
                    <div style="padding-bottom: 10px; padding-left: 10px">
                        How often would you like to be reminded:
                    </div>
                    <v-layout :style="isMobile ? 'padding-bottom: 10px' : 'padding: 10px'">
                        <v-btn
                                :dark="isLight"
                                color="secondary"
                                elevation="5"
                                @click="chooseOneTimeThing">
                            Only once
                        </v-btn>
                        &emsp;
                        <v-btn
                                :dark="isLight"
                                color="secondary"
                                elevation="5"
                                @click="chooseEmptyThing">
                            Never (keep for reference)
                        </v-btn>
                        &emsp;
                        <v-btn
                                v-if="!isMobile"
                                :dark="isLight"
                                color="secondary"
                                elevation="5"
                                @click="chooseEveryNDaysThing">
                            Every N days
                        </v-btn>
                    </v-layout>
                    <v-layout v-if="isMobile" :style="isMobile ? 'padding-bottom: 10px' : 'padding: 10px'">
                        <v-btn
                                :dark="isLight"
                                color="secondary"
                                elevation="5"
                                @click="chooseEveryNDaysThing">
                            Every N days
                        </v-btn>
                        &emsp;
                        <v-btn
                                :dark="isLight"
                                color="secondary"
                                elevation="5"
                                @click="chooseSpecificDaysInWeekThing">
                            Certain days of week
                        </v-btn>
                    </v-layout>
                    <v-layout :style="isMobile ? '' : 'padding: 10px'">
                        <v-btn
                                v-if="!isMobile"
                                :dark="isLight"
                                color="secondary"
                                elevation="5"
                                @click="chooseSpecificDaysInWeekThing">
                            Certain days of week
                        </v-btn>
                        &emsp;
                        <v-btn
                                :dark="isLight"
                                color="secondary"
                                elevation="5"
                                @click="chooseDailyThing">
                            Every day
                        </v-btn>
                        &emsp;
                        <v-btn
                                :dark="isLight"
                                color="secondary"
                                elevation="5"
                                @click="chooseEveryNthDayOfMonthThing">
                            On Nth day of month
                        </v-btn>
                    </v-layout>
                </div>
                <div v-else>
                    <div v-if="dailyThingHasBeenChosen">
                        <waid-hour-picker
                                v-model="newDailyRoutine.hour"
                                label="hour"
                                @input="errors = []"
                        />
                    </div>
                    <div v-if="oneTimeThingHasBeenChosen">
                        <waid-hour-picker
                                v-model="newOneTimeThing.hour"
                                label="hour"
                                @input="errors = []"
                        />
                        <waid-date-picker
                                v-model="newOneTimeThing.date"
                                label="Date"
                                @input="errors = []"
                        />
                        <br>
                    </div>
                    <div v-if="specificDaysOfWeekThingHasBeenChosen">
                        <waid-hour-picker
                                v-model="newSpecificDaysInWeekThing.hour"
                                label="hour"
                                @input="errors = []"
                        />
                        <v-select
                                v-model="newSpecificDaysInWeekThing.days"
                                :items="daysOfWeek"
                                item-text="name"
                                item-value="id"
                                label="Days of week"
                                chips
                                :dark="!isLight"
                                multiple
                                prepend-icon="mdi-calendar-week"
                                color="primary"
                                item-color="primary"
                                @input="errors = []"
                        />
                    </div>
                    <div v-if="everyNDaysHasBeenChosen">
                        <waid-hour-picker
                                v-model="newEveryNDaysThing.hour"
                                label="hour"
                                @input="errors = []"
                        />
                        <waid-date-picker
                                v-model="newEveryNDaysThing.firstNotificationDay"
                                label="date of first notification"
                                @input="errors = []"
                        />
                        <v-text-field
                                :dark="!isLight"
                                v-model="newEveryNDaysThing.daysBetweenReminders"
                                label="days between reminders"
                                prepend-icon="mdi-arrow-left-right"
                                color="primary"
                                @input="errors = []"
                        />
                    </div>
                    <div v-if="everyNthDayOfMonthHasBeenChosen">
                        <waid-hour-picker
                                v-model="newEveryNthDayOfMonthThing.hour"
                                label="hour"
                                @input="errors = []"
                        />
                        <v-text-field
                                :dark="!isLight"
                                v-model="newEveryNthDayOfMonthThing.dayOfReminder"
                                label="day of reminder"
                                prepend-icon="mdi-arrow-left-right"
                                color="primary"
                                @input="errors = []"
                        />
                    </div>
                    <ChooseGroup
                            v-model="groupName"
                            :groups="groups"
                    />
                    <v-btn color="secondary" :dark="isLight" @click="saveRoutine">
                        Add
                    </v-btn>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang='ts'>
    import Vue from 'vue';
    import {ThingType} from '@/DomainModel/ThingType';
    import ChooseGroup from '@/MainPage/ChooseGroup.vue';
    import {
        AssignToGroupCommand,
        DateDto,
        HourDto,
        NewDailyThingDto, NewEmptyNotificationThingDto,
        NewEveryNDaysThingDto, NewEveryNthDayOfMonthThingDto,
        NewOneTimeThingDto,
        NewSpecificDaysInWeekThingDto, ThingIdsDto,
        ToDoThingsAPI
    } from '@/Api';
    import LoginManager from '@/Login/LoginManager';
    import WaidDatePicker from '@/GenericComponents/WaidDatePicker.vue';
    import WaidHourPicker from '@/GenericComponents/WaidHourPicker.vue';
    import WaidValidationError from '@/GenericComponents/WaidValidationError.vue';
    import ThemeUtils from '@/Utils/ThemeUtils';
    import PortabilityUtils from '@/Utils/PortabilityUtils';

    export default Vue.extend({
        name: 'AddNewThing',
        components: {ChooseGroup, WaidHourPicker, WaidDatePicker, WaidValidationError},
        data() {
            return {

                errors: [] as string[],

                thingType: ThingType.NotYetSpecified as ThingType,

                daysOfWeek: [
                    {name: 'Monday', id: 1},
                    {name: 'Tuesday', id: 2},
                    {name: 'Wednesday', id: 3},
                    {name: 'Thursday', id: 4},
                    {name: 'Friday', id: 5},
                    {name: 'Saturday', id: 6},
                    {name: 'Sunday', id: 0}],

                name: '' as string,

                groupName: '' as string,

                newDailyRoutine: new NewDailyThingDto() as NewDailyThingDto,

                newOneTimeThing: new NewOneTimeThingDto() as NewOneTimeThingDto,

                newSpecificDaysInWeekThing: new NewSpecificDaysInWeekThingDto() as NewSpecificDaysInWeekThingDto,

                newEmptyThing: new NewEmptyNotificationThingDto() as NewEmptyNotificationThingDto,

                newEveryNthDayOfMonthThing: new NewEveryNthDayOfMonthThingDto() as NewEveryNthDayOfMonthThingDto,

                newEveryNDaysThing: new NewEveryNDaysThingDto() as NewEveryNDaysThingDto,
            };
        },

        computed: {

            isMobile() {
                return PortabilityUtils.isMobile();
            },

            isLight() {
                return ThemeUtils.isLight();
            },

            dailyThingHasBeenChosen(): boolean {
                return this.thingType === ThingType.DailyRoutine;
            },

            oneTimeThingHasBeenChosen(): boolean {
                return this.thingType === ThingType.OneTime;
            },

            specificDaysOfWeekThingHasBeenChosen(): boolean {
                return this.thingType === ThingType.SpecificDaysInWeek;
            },

            everyNDaysHasBeenChosen(): boolean {
                return this.thingType === ThingType.EveryNDays;
            },

            emptyHasBeenChosen(): boolean {
                return this.thingType === ThingType.Empty;
            },

            everyNthDayOfMonthHasBeenChosen(): boolean {
                return this.thingType === ThingType.NewEveryNthDayOfMonth;
            },

            typeNotSpecified(): boolean {
                return this.thingType === ThingType.NotYetSpecified;
            },
        },

        methods: {

            chooseDailyThing(): void {
                this.thingType = ThingType.DailyRoutine;
            },

            chooseOneTimeThing(): void {
                this.thingType = ThingType.OneTime;
            },

            chooseSpecificDaysInWeekThing(): void {
                this.thingType = ThingType.SpecificDaysInWeek;
            },

            chooseEveryNDaysThing(): void {
                this.thingType = ThingType.EveryNDays;
            },

            chooseEmptyThing(): void {
                this.thingType = ThingType.Empty;
            },

            chooseEveryNthDayOfMonthThing(): void {
                this.thingType = ThingType.NewEveryNthDayOfMonth;
            },

            validate(): boolean {
                this.errors = [];
                switch (this.thingType) {
                    case ThingType.NotYetSpecified:
                        break;
                    case ThingType.DailyRoutine:
                        if (this.newDailyRoutine.hour.hour == null) {
                            this.errors.push('please enter Hour');
                        }
                        break;
                    case ThingType.OneTime:
                        if (this.newOneTimeThing.hour.hour == null) {
                            this.errors.push('please enter Hour');
                        }
                        if (this.newOneTimeThing.date.day == null) {
                            this.errors.push('please enter Date');
                        }
                        break;
                    case ThingType.SpecificDaysInWeek:
                        if (this.newSpecificDaysInWeekThing.hour.hour == null) {
                            this.errors.push('please enter Hour');
                        }
                        if (this.newSpecificDaysInWeekThing.days.length === 0) {
                            this.errors.push('please enter one day of week');
                        }
                        break;
                    case ThingType.EveryNDays:
                        if (this.newEveryNDaysThing.hour.hour == null) {
                            this.errors.push('please enter Hour');
                        }
                        if (this.newEveryNDaysThing.firstNotificationDay.day == null) {
                            this.errors.push('please enter Date of first notification');
                        }
                        if (this.newEveryNDaysThing.daysBetweenReminders == null) {
                            this.errors.push('please enter Days between reminders');
                        } else {
                            if (isNaN(this.newEveryNDaysThing.daysBetweenReminders)) {
                                this.errors.push('please enter number in Days between reminders');
                            }
                        }
                        break;
                    case ThingType.Empty:
                        break;
                    case ThingType.NewEveryNthDayOfMonth:
                        if (this.newEveryNthDayOfMonthThing.hour.hour == null) {
                            this.errors.push('please enter Hour');
                        }
                        if (this.newEveryNthDayOfMonthThing.dayOfReminder == null) {
                            this.errors.push('please enter day of reminder');
                        }
                        break;

                }
                return this.errors.length === 0;
            },

            saveRoutine(): void {
                if (!this.validate()) {
                    return;
                }
                switch (this.thingType) {
                    case ThingType.NotYetSpecified:
                        break;
                    case ThingType.DailyRoutine:
                        this.newDailyRoutine.name = this.name;
                        new ToDoThingsAPI().addDailyRoutine(LoginManager.getUserId(), this.newDailyRoutine)
                            .then((ids) => this.setGroupNameAndRefresh(ids, this.groupName));
                        break;
                    case ThingType.OneTime:
                        this.newOneTimeThing.name = this.name;
                        new ToDoThingsAPI().addOneTimeThing(LoginManager.getUserId(), this.newOneTimeThing)
                            .then((ids) => this.setGroupNameAndRefresh(ids, this.groupName));
                        break;
                    case ThingType.SpecificDaysInWeek:
                        this.newSpecificDaysInWeekThing.name = this.name;
                        new ToDoThingsAPI().addSpecificDaysInWeekThing(LoginManager.getUserId(),
                            this.newSpecificDaysInWeekThing)
                            .then((ids) => this.setGroupNameAndRefresh(ids, this.groupName));
                        break;
                    case ThingType.EveryNDays:
                        this.newEveryNDaysThing.name = this.name;
                        new ToDoThingsAPI().addEveryNDaysThing(LoginManager.getUserId(),
                            this.newEveryNDaysThing)
                            .then((ids) => this.setGroupNameAndRefresh(ids, this.groupName));
                        break;
                    case ThingType.Empty:
                        this.newEmptyThing.name = this.name;
                        new ToDoThingsAPI().addEmptyThing(LoginManager.getUserId(),
                            this.newEmptyThing)
                            .then((ids) => this.setGroupNameAndRefresh(ids, this.groupName));
                        break;
                    case ThingType.NewEveryNthDayOfMonth:
                        this.newEveryNthDayOfMonthThing.name = this.name;
                        new ToDoThingsAPI().addEveryNthDayOfMonthThing(LoginManager.getUserId(),
                            this.newEveryNthDayOfMonthThing)
                            .then((ids) => this.setGroupNameAndRefresh(ids, this.groupName));
                        break;
                }
            },

            setGroupNameAndRefresh(ids: ThingIdsDto, groupName: string) {
                new ToDoThingsAPI().executeCommand(LoginManager.getUserId(),
                    ids.thingId,
                    ids.subThingId,
                    new AssignToGroupCommand({groupName})).then(() => {
                    this.refresh();
                    this.$emit('created', ids);
                });
            },

            initEmptyOneTimeThing(): void {
                this.newOneTimeThing = new NewOneTimeThingDto();
                this.newOneTimeThing.date = new DateDto();
                this.newOneTimeThing.hour = new HourDto();
            },

            initEmptyDailyRoutine(): void {
                this.newDailyRoutine = new NewDailyThingDto();
                this.newDailyRoutine.hour = new HourDto();
            },

            initEmptySpecificDaysInWeekThing(): void {
                this.newSpecificDaysInWeekThing = new NewSpecificDaysInWeekThingDto();
                this.newSpecificDaysInWeekThing.hour = new HourDto();
            },

            initEmptyEveryNDaysThing(): void {
                this.newEveryNDaysThing = new NewEveryNDaysThingDto();
                this.newEveryNDaysThing.hour = new HourDto();
                this.newEveryNDaysThing.firstNotificationDay = new DateDto();
            },

            initEmptyThing(): void {
                this.newEmptyThing = new NewEmptyNotificationThingDto();
            },

            initEveryNthDayOfMonthThing(): void {
                this.newEveryNthDayOfMonthThing = new NewEveryNthDayOfMonthThingDto();
                this.newEveryNthDayOfMonthThing.hour = new HourDto();
            },

            mounted() {
                this.refresh();
            },

            refresh() {
                this.name = '';
                this.groupName = '';
                this.thingType = ThingType.NotYetSpecified;
                this.initEmptyOneTimeThing();
                this.initEmptyDailyRoutine();
                this.initEmptySpecificDaysInWeekThing();
                this.initEmptyEveryNDaysThing();
                this.initEmptyDailyRoutine();
                this.initEmptyThing();
                this.initEveryNthDayOfMonthThing();
            }
        },

        props: {
            groups: Array
        }
    })
    ;
</script>
