<template>
    <div>
        <v-layout wrap style="margin-left: 25px; max-width: 600px ">
            <v-btn :dark="!isLight"
                   color="secondary"
                   v-for="group in groups"
                   :key="group"
                   @click="groupChosen(group)"
                   style="padding: 10px; margin-right: 10px; margin-bottom: 10px">
                {{group}}
            </v-btn>
        </v-layout>
        <div style="height: 60px">
            <v-select
                    prepend-icon="mdi-inbox-multiple"
                    :dark="!isLight"
                    label="Group name"
                    :items="groups"
                    v-if="!isOtherGroupSelected"
                    v-model="groupValueSelected"
                    @input="sync"
            />
            <v-text-field
                    prepend-icon="mdi-inbox-multiple"
                    :dark="!isLight"
                    v-if="isOtherGroupSelected"
                    label="Group name"
                    v-model="otherGroupValue"
                    @input="sync"
            />
        </div>
        <v-switch
                :dark="!isLight"
                label="New group"
                v-model="isOtherGroupSelected"
                @input="sync"
        />
    </div>
</template>

<script lang='ts'>
    import Vue from 'vue';
    import ThemeUtils from '@/Utils/ThemeUtils';

    export default Vue.extend({

        name: 'ChooseGroup',

        data() {
            return {
                groupValueSelected: '' as string,
                otherGroupValue: '' as string,
                isOtherGroupSelected: false as boolean,
            };
        },

        computed: {
            isLight() {
                return ThemeUtils.isLight();
            }
        },

        methods: {

            groupChosen(group: string) {
                this.groupValueSelected = group;
                this.isOtherGroupSelected = false;
                this.sync();
            },

            sync() {
                this.$emit('input', this.isOtherGroupSelected ? this.otherGroupValue : this.groupValueSelected);
            }
        },

        watch: {
            value: {
                immediate: true,
                handler(val) {
                    if (val === '' || val === null || val === undefined) {
                        this.isOtherGroupSelected = false;
                        this.groupValueSelected = '';
                        this.otherGroupValue = '';
                    }
                }
            }
        },

        props: {
            groups: Array,
            value: String
        }
    });
</script>
