<template>
    <v-dialog
            color="surface"
            v-model="modalOpen"
            max-width="500px"
            :dark = "!isLight"
    >
        <v-card color="surface" :dark = "!isLight">
            <v-card-title>
                Assign to group
            </v-card-title>

            <choose-group
                    v-model=value
                    :groups="groups"
                    />

            <v-card-actions>
                <v-btn
                        color="secondary"
                        :dark = "!isLight"
                        @click="closeAndSave"
                >
                    Save
                </v-btn>
                <v-btn
                        color="secondary"
                        :dark = "!isLight"
                        @click="modalOpen = !modalOpen"
                >
                    Close
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script lang="ts">
    import Vue from 'vue';
    import ThemeUtils from '@/Utils/ThemeUtils';
    import ChooseGroup from '@/MainPage/ChooseGroup.vue';

    export default Vue.extend({
        name: 'ChooseGroupModal',

        components: {ChooseGroup},

        computed: {
            isLight() {
                return ThemeUtils.isLight();
            },
        },

        methods: {
            open(): void {
                this.modalOpen = true;
            },

            closeAndSave(): void {
                this.modalOpen = false;
                this.$emit('save', this.value);
            },
        },

        data() {
            return {
                modalOpen: false as boolean,
                value: '' as string
            };
        },

        props: {
            groups: Array
        }
    });
</script>
