import {CommandType} from '@/Api';
<template>
    <div>
        <v-card :dark="!isLight" elevation="0" style="padding: 10px; margin-bottom: 10px">
            <div>
                <div class="flex-thing">
                    <v-sheet style="width:7px; margin-top: -10px; margin-bottom: -10px; margin-left: -10px"
                             color="secondary"/>
                    <v-icon
                            style="padding-left: 10px; padding-right: 20px" color="primary" large>{{icon}}
                    </v-icon>
                    <v-layout row>
                        <div :style="isLight ? 'color: black' : 'color: white'">
                            <div style=" font-size: medium">
                                <b>
                                    {{habit.name}}
                                    {{isMobile ? '&emsp;' : ''}}
                                    <v-chip v-if="shouldShowGroup && isMobile"
                                            color="secondary"
                                            style='white-space: nowrap'>
                                        {{habit.groupName}}
                                    </v-chip>
                                </b>
                            </div>
                            <div style="font-size: medium">
                                {{habit.description}} {{formattedNextReminder}}
                            </div>
                        </div>
                    </v-layout>
                    <v-chip
                            style='white-space: nowrap'
                            v-if="shouldShowGroup && !isMobile"
                            color="secondary"
                    >
                        {{habit.groupName}}
                    </v-chip>
                    <v-menu left bottom offset-x>
                        <template v-slot:activator="{ on }">
                            <v-btn
                                    x-large
                                    :dark="!isLight"
                                    icon
                                    v-on="on"
                            >
                                <v-icon color="grey">mdi-dots-vertical</v-icon>
                            </v-btn>
                        </template>

                        <v-list :dark="!isLight" color="surface">
                            <v-list-item
                                    color="surface"
                                    :dark="!isLight"
                                    v-for="(item, i) in itemOptions"
                                    :key="i"
                                    @click="commandRequested(item.value)"
                            >
                                <v-icon>{{item.icon}}</v-icon>
                                <v-list-item-title>{{ item.title }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </div>
                <div :style="isLight ? 'color: black' : 'color: white'" v-if="habit.comments.length">
                    <h3
                            @mouseover="mouseOverComments = true"
                            @mouseleave="mouseOverComments = false"
                            style="margin-left: 10px; margin-bottom: 5px">
                        <v-icon color="primary">
                            mdi-comment-text-multiple
                        </v-icon>
                        Comments
                        <v-chip
                                style="width: 52px"
                                small
                                color="secondary"
                                v-if="canAddComments && mouseOverComments"
                                @click="enableEditor"
                        >
                            <v-icon :dark="!isLight" small>
                                mdi-comment-multiple
                            </v-icon>
                            <v-icon :dark="!isLight" small>
                                mdi-pencil
                            </v-icon>
                        </v-chip>
                    </h3>
                    <v-divider :dark="!isLight"/>
                    <div style="padding: 10px">
                        <div>
                            <quill-editor
                                    :key="habit.thingIds.subThingId"
                                    ref="active-editor"
                                    v-if="editingComments"
                                    v-model="commentsContent"
                                    :options="enabledEditorOptions"
                            />
                        </div>
                        <div>
                            <quill-editor
                                    :key="habit.thingIds.subThingId"
                                    ref="disabled-editor"
                                    v-if="!editingComments"
                                    v-model="commentsContent"
                                    :options="disabledEditorOptions"
                            />
                        </div>
                    </div>
                    <v-btn
                            v-if=editingComments
                            @click="saveComments"
                            color="secondary"
                    >
                        save
                    </v-btn>
                    <div style="padding: 5px">

                    </div>
                    <v-divider v-if="habit.children.length" :dark="!isLight"/>
                </div>
            </div>
            <div color="surface" v-if="habit.children.length" style="padding: 5px 5px 5px 10px;">
                <div v-for="(child, index) in habit.children" :key="child.name" style="padding-right: 5px">
                    <v-divider style="padding: 5px" v-if="index !== 0" :dark="!isLight"/>

                    <div class="flex-thing">
                        <v-icon large color="secondary">mdi-menu-right</v-icon>
                        <v-flex>
                            <div>
                                <single-thing
                                        :groups="groups"
                                        :habit="child"
                                        @deleted="(ids) => ids.thingId === habit.thingIds.thingId ? updated(ids) : deleted(ids)"
                                        @updated="updated"
                                        @created="created"
                                        @commandRequested="commandRequested"
                                />
                            </div>
                        </v-flex>
                    </div>
                </div>
            </div>
        </v-card>
    </div>

</template>

<script lang="ts">
    import Vue, {PropType} from 'vue';
    import {
        CommandType, CommentDto,
        DateDto,
        ThingIdsDto,
        ToDoThingGeneralInfo,
        ToDoThingsAPI,
        UpdateCommentsCommand
    } from '@/Api';
    import WaidDatePicker from '@/GenericComponents/WaidDatePicker.vue';
    import WaidHourPicker from '@/GenericComponents/WaidHourPicker.vue';
    import ChooseGroupModal from '@/MainPage/ChooseGroupModal.vue';
    import PortabilityUtils from '@/Utils/PortabilityUtils';
    import TimeUtils from '@/Utils/TimeUtils';
    import ThemeUtils from '@/Utils/ThemeUtils';
    import QuillUtils from '@/Utils/QuillUtils';

    export interface SingleOption {
        value: CommandType;
        title: string;
        icon: string;
    }

    export default Vue.extend({

        components: {WaidHourPicker, WaidDatePicker, ChooseGroupModal},

        name: 'single-thing',

        data() {
            return {

                disabledEditorOptions: {
                    theme: 'snow',
                    modules: {
                        toolbar: false
                    },
                },

                enabledEditorOptions: {
                    theme: 'snow',
                    modules: {
                        toolbar: [
                            ['bold', 'italic'],
                            ['link'],
                            [{header: 1}, {header: 2}],
                            [{list: 'ordered'}, {list: 'bullet'}],
                        ]
                    }
                },

                editingComments: false as boolean,

                commentsContent: '' as string,

                mouseOverComments: false as boolean,

                isMobile: PortabilityUtils.isMobile() as boolean,
            };
        },

        props: {
            habit: {
                type: Object as PropType<ToDoThingGeneralInfo>
            },
            groups: {
                type: Array as PropType<string[]>
            },
        },

        computed: {

            formattedNextReminder(): string {
                if (this.habit.nextReminder.hour.hour === undefined) {
                    return '';
                }
                if (TimeUtils.isInPast(this.habit.nextReminder)) {
                    return ', notification pending';
                }
                return ', next notification on ' + TimeUtils.formatDateTimeDto(this.habit.nextReminder);
            },

            icon() {
                if (this.habit.isCompleted) {
                    return this.habit.isRejected ? 'mdi-close' : 'mdi-check';
                }

                if (this.habit.isArchived) {
                    return 'mdi-archive';
                }

                if (this.habit.description.indexOf('no set') !== -1) {
                    return 'mdi-note';
                }

                return 'mdi-bell';
            },

            canAddComments() {
                return this.habit.availableCommands.find((x) => x === CommandType.AddComment);
            },

            isLight() {
                return ThemeUtils.isLight();
            },

            shouldShowGroup(): boolean {
                return this.habit.groupName !== null;
            },

            itemOptions(): SingleOption[] {
                const operations = this.habit.availableCommands;
                const result: SingleOption[] = [];
                for (const operation of operations) {
                    switch (operation) {
                        case CommandType.Delete:
                            result.push({value: operation, title: 'Delete', icon: 'mdi-delete'});
                            break;
                        case CommandType.Rename:
                            result.push({value: operation, title: 'Rename', icon: 'mdi-pencil'});
                            break;
                        case CommandType.MoveToOtherDate:
                            result.push({value: operation, title: 'Move to other date', icon: 'mdi-calendar'});
                            break;
                        case CommandType.AssignToGroup:
                            result.push({value: operation, title: 'Assign to group', icon: 'mdi-inbox-multiple'});
                            break;
                        case CommandType.DisableForDays:
                            result.push({value: operation, title: 'Temporarily disable', icon: 'mdi-alarm-snooze'});
                            break;
                        case CommandType.AddComment:
                          result.push({value: operation, title: 'Add comment', icon: 'mdi-comment-multiple'});
                          break;
                        case CommandType.ReEnable:
                            result.push({value: operation, title: 'Re-enable', icon: 'mdi-alarm-plus'});
                            break;
                        case CommandType.AddSubThing:
                            result.push({value: operation, title: 'Attach sub-notification', icon: 'mdi-attachment'});
                            break;
                        case CommandType.MoveToOtherHour:
                            result.push({value: operation, title: 'Move to other hour', icon: 'mdi-clock-start'});
                            break;
                        case CommandType.DetachFromParent:
                            result.push({value: operation, title: 'Detach', icon: 'mdi-clock-out'});
                            break;
                        case CommandType.Archive:
                            result.push({value: operation, title: 'Archive', icon: 'mdi-archive'});
                            break;
                        case CommandType.CancelSuspend:
                            result.push({value: operation, title: 'Cancel suspend', icon: 'mdi-undo'});
                            break;
                        case CommandType.Dismiss:
                            result.push({value: operation, title: 'Dismiss', icon: 'mdi-check-circle'});
                            break;
                        case CommandType.SetHoursToExpire:
                            result.push({value: operation, title: 'Set hours to expire', icon: 'mdi-broom'});
                            break;
                        case CommandType.RemoveNotifications:
                            result.push({value: operation, title: 'Remove notification', icon: 'mdi-alarm-off'});
                            break;
                        case CommandType.UpdateOffsetBetweenNotifications:
                            result.push({value: operation, title: 'Ch ange offset', icon: 'mdi-ruler'});
                            break;
                    }
                }
                return result;
            },
        },

        methods: {

            enableEditor() {
                this.editingComments = true;
                this.$nextTick(() => {
                    (this.$refs['active-editor'] as any).quill.focus();
                });
            },

            formatDate(date: DateDto): string {
                return TimeUtils.formatDateDto(date);
            },

            commandRequested(operation: CommandType, ids?: ThingIdsDto) {
                this.$emit('commandRequested', operation, ids === undefined ? this.habit.thingIds : ids);
            },

            saveComments() {
                this.editingComments = false;
                const command = new UpdateCommentsCommand();

                command.comments = QuillUtils.divideIntoComments(this.commentsContent);

                new ToDoThingsAPI().executeCommand(this.habit.userId,
                    this.habit.thingIds.thingId,
                    this.habit.thingIds.subThingId,
                    command)
                    .then(
                        () => {
                            this.updated();
                            this.$nextTick(() => {
                                (this.$refs['disabled-editor'] as any).quill.disable();
                            });
                        }
                    );
            },

            updated(ids?: ThingIdsDto): void {
                this.$emit('updated', ids === undefined ? this.habit.thingIds : ids);
            },

            deleted(ids?: ThingIdsDto): void {
                this.$emit('deleted', ids === undefined ? this.habit.thingIds : ids);
            },

            created(ids?: ThingIdsDto): void {
                this.$emit('created', ids === undefined ? this.habit.thingIds : ids);
            },

            prepareComments(): void {
              this.commentsContent = '';
              this.$nextTick(() => {
                if (this.$refs['disabled-editor']) {
                  (this.$refs['disabled-editor'] as any).quill.disable();
                }
              });
              for (const comment of this.habit.comments) {
                this.commentsContent += QuillUtils.convertLegacyComment(comment.value);
              }
            }
        },

      watch: {
        habit() {
            this.prepareComments();
          }
        },

        mounted() {
            window.addEventListener('resize', () => this.isMobile = PortabilityUtils.isMobile());
            this.prepareComments();
        }
    });

</script>

<style scoped>
    .flex-thing {
        display: flex;
    }
</style>
