<template>
    <div>
        <waid-single-field-modal
                ref="moveToOtherHourModal"
                :type="ModalType.HourModal"
                label="hour"
                title="Move to other hour"
                @save="(x) => commands.moveToOtherHour(x)"
        />

        <waid-single-field-modal
            ref="addCommentModal"
            :type="ModalType.StringModal"
            label="comment"
            title="Add comment"
            @save="(x) => commands.addComment(x)"
        />

        <waid-single-field-modal
                :type="ModalType.SelectModal"
                ref="attachSubThingModal"
                title="Attach sub-thing"
                label="what notification to attach"
                :select-options="toAttach"
                select-item-text="name"
                select-item-value="thingIds"
                @save="(x) => commands.attachSubThing(x)"
        />

        <waid-single-field-modal
                ref="moveToOtherDateModal"
                title="Move to other date"
                :type="ModalType.DateTimeModal"
                @save="(x) => commands.moveToOtherDate(x)"
        />

        <waid-single-field-modal
                ref="renameModal"
                title="Rename"
                label="new name"
                :type="ModalType.StringModal"
                @save="(x) => commands.rename(x)"
        />

        <waid-single-field-modal
                ref="disableModal"
                title="Disable"
                label="amount of days"
                :type="ModalType.StringModal"
                @save="(x) => commands.disableForDays(x)"
        />

        <waid-single-field-modal
                ref="offsetModal"
                title="Update offset"
                label="new offset between notifications"
                :type="ModalType.StringModal"
                @save="(x) => commands.updateOffset(x)"
        />

        <waid-single-field-modal
                ref="setHoursToExpireModal"
                title="Set hours to expire"
                label="number of hours"
                :type="ModalType.NumberModal"
                @save="(x) => commands.setHoursToExpire(x)"
        />

        <choose-group-modal
                ref="assignToGroupModal"
                @save="(x) => commands.assignToGroup(x)"
                :groups="groups"
        />

        <add-new-thing
                @updated="updated"
                @created="created"
                :groups="groups"
        />
        <br>
        <div>
            <div>
                <div v-if="dataLoaded"
                     :style="'padding-left:' + padding + '; padding-right:' + padding + '; padding-bottom: 20px'">


                    <waid-validation-error v-for="warning in warnings" :error="warning" :key="warning"/>

                    <div :dark="!isLight" elevation="15">

                        <div color="surface" style="padding-left: 20px; padding-right: 20px" :dark="!isLight">
                            <v-layout row>
                                <v-switch
                                        color="secondary"
                                        :dark="!isLight"
                                        label="search from archived"
                                        v-model="searchFromArchive"
                                />
                            </v-layout>
                            <v-text-field
                                    style="max-width: 600px"
                                    :dark="!isLight"
                                    v-model="searchValue"
                                    label="Search for notifications"
                                    prepend-icon="mdi-magnify"
                                    color="primary"
                            />
                        </div>
                        <div style="padding: 5px" color="surface" v-if="searchValue.length >= 3">
                            <h2 :style="'padding: 10px; ' + (isLight ? 'color: black' : 'color: white') ">Search results ({{searchResult.length}} items):</h2>
                            <div v-for="habit in searchResult"
                                 :key="habit.thingIds.subThingId">
                                <single-thing
                                        :habit="habit"
                                        :groups="groups"
                                        :all-things="habits"
                                        @updated="updated"
                                        @deleted="deleted"
                                        @created="created"
                                        @commandRequested="receiveCommand"
                                />
                            </div>
                        </div>

                        <div v-if="habits.length > 6">
                            <h1 :style="'padding: 15px; ' + (isLight ? 'color: black' : 'color: white') ">
                                Recently added
                            </h1>
                            <div :dark="isLight">
                                <div v-for="habit in recentlyAdded"
                                     :key="habit.thingIds.subThingId"
                                >
                                    <single-thing
                                            :habit="habit"
                                            :groups="groups"
                                            :all-things="habits"
                                            @updated="updated"
                                            @deleted="deleted"
                                            @created="created"
                                            @commandRequested="receiveCommand"
                                    />
                                </div>
                            </div>
                        </div>

                        <h1 :style="'padding: 15px; ' + (isLight ? 'color: black' : 'color: white') ">
                            All ({{allThings.length}} items)
                        </h1>


                        <div v-for="(group, index) in groups"
                             :key="group">
                            <div color="surface"
                                 @click="clicked(index)"
                                 style="padding: 5px"
                                 :dark="!isLight"
                                 v-if="thingsFromGroup(group).length">
                                <v-layout row>
                                    <v-card-title style="font-size: large">
                                        <v-icon large color="primary">mdi-inbox-multiple</v-icon>
                                        &emsp;
                                        <h3 :style="isLight ? 'color: black' : 'color: white'">
                                            {{group}}
                                        </h3>
                                        &emsp;
                                        <b :style="isLight ? 'color: black' : 'color: white'">
                                            ({{thingsFromGroup(group).length}} items)
                                        </b>
                                    </v-card-title>
                                </v-layout>
                            </div>
                            <div>
                                <div :id="'collapsible' + index " class="collapsible" style="height: 0">
                                    <div v-if="collapsiblesVisible[index.toString()]">
                                        <div v-for="habit in thingsFromGroup(group)"
                                             :key="habit.thingIds.subThingId"
                                        >
                                            <single-thing
                                                    :habit="habit"
                                                    :groups="groups"
                                                    :all-things="habits"
                                                    @updated="updated"
                                                    @deleted="deleted"
                                                    @created="created"
                                                    @commandRequested="receiveCommand"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="withoutGroup.length">
                            <div :dark="isLight" @click="clicked('-without-groups')" style="padding: 5px"
                                 color="surface">
                                <v-layout row>
                                    <v-card-title style="font-size: large">
                                        <v-layout row>
                                            &emsp;
                                            <v-icon large color="primary">mdi-note-multiple</v-icon>
                                            &emsp;
                                            <h3 :style="isLight ? 'color: black' : 'color: white'">
                                                ungrouped
                                            </h3>
                                            &emsp;
                                            <b :style="isLight ? 'color: black' : 'color: white'">
                                                ({{withoutGroup.length}} items)
                                            </b>
                                        </v-layout>
                                    </v-card-title>
                                </v-layout>
                            </div>
                            <div>
                                <div id="collapsible-without-groups" class="collapsible" style="height: 0">
                                    <div v-if="collapsiblesVisible['-without-groups']">
                                        <div v-for="habit in withoutGroup"
                                             :key="habit.thingIds.subThingId">
                                            <single-thing
                                                    :habit="habit"
                                                    :groups="groups"
                                                    :all-things="habits"
                                                    @updated="updated"
                                                    @deleted="deleted"
                                                    @created="created"
                                                    @commandRequested="receiveCommand"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <v-layout justify-center v-if="!dataLoaded">
            <v-progress-circular
                    style="padding-left: 50px"
                    indeterminate
                    color="secondary"
            />
        </v-layout>

    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import {
        CommandType,
        ThingIdsDto,
        ToDoThingGeneralInfo,
        ToDoThingsAPI,
    } from '@/Api';
    import LoginManager from '@/Login/LoginManager';
    import WaidHourPicker from '@/GenericComponents/WaidHourPicker.vue';
    import SingleThing from './SingleThing.vue';
    import AddNewThing from '@/MainPage/AddNewThing.vue';
    import PrettyJSON from '@/GenericComponents/PrettyJSON.vue';
    import ChooseGroupModal from '@/MainPage/ChooseGroupModal.vue';
    import WaidDatePicker from '@/GenericComponents/WaidDatePicker.vue';
    import ThemeUtils from '@/Utils/ThemeUtils';
    import {ToAttachToInfo} from '@/DomainModel/ToAttachToInfo';
    import ThingFilterBuilder from '@/Utils/ThingFilterBuilder';
    import WaidSingleFieldModal from '@/GenericComponents/WaidSingleFieldModal.vue';
    import {ModalType} from '@/GenericComponents/ModalType';
    import ThingsCommands from '@/Utils/ThingsCommands';
    import ThingUtils from '@/Utils/ThingUtils';
    import TransitionUtils from '@/Utils/TransitionUtils.ts';
    import WaidValidationError from '@/GenericComponents/WaidValidationError.vue';

    export default Vue.extend({

        components: {
            PrettyJSON,
            SingleThing,
            AddNewThing,
            WaidHourPicker,
            WaidDatePicker,
            WaidSingleFieldModal,
            ChooseGroupModal,
            WaidValidationError
        },

        data() {
            return {
                collapsiblesVisible: {} as any,
                ModalType,
                searchFromArchive: false as boolean,
                editedHabit: new ToDoThingGeneralInfo() as ToDoThingGeneralInfo,
                habits: [] as ToDoThingGeneralInfo[],
                dataLoaded: false as boolean,
                searchValue: '' as string,
                commands: new ThingsCommands([]) as ThingsCommands
            };
        },

        computed: {

            allThings(): ToDoThingGeneralInfo[] {
                return this.habits
                    .filter((x) => !x.isArchived)
                    .filter((x) => !x.isCompleted);
            },

            groups(): string[] {
                const result: string[] = [];
                for (const habit of this.habits) {
                    if (habit.groupName && !result.find((x) => habit.groupName === x)) {
                        result.push(habit.groupName);
                    }
                }
                result.sort((a, b) => {
                    return a.localeCompare(b);
                });
                return result;
            },

            warnings(): string[] {
                const result = [];
                for (const thing of this.habits.slice(Math.max(this.habits.length - 5, 0))) {
                    for (const warning of thing.warnings) {
                        result.push(warning);
                    }
                }
                return result;
            },

            toAttach(): ToAttachToInfo[] {
                const habit = this.editedHabit;
                const result = [];
                for (const thing of this.habits) {
                    if (thing.thingIds.thingId !== habit.thingIds.thingId
                        && !thing.isCompleted
                        && !thing.isArchived) {
                        result.push({thingIds: thing.thingIds, name: thing.name});
                        thing.children.forEach((x) => {
                            if (!x.isCompleted && !x.isArchived) {
                                result.push({thingIds: x.thingIds, name: x.name});
                            }
                        });
                    }
                }
                return result.reverse();
            },

            isLight() {
                return ThemeUtils.isLight();
            },

            searchResult(): ToDoThingGeneralInfo[] {
                return ThingFilterBuilder
                    .all()
                    .includeArchived(this.searchFromArchive)
                    .includeCompleted(this.searchFromArchive)
                    .includeStringFilter(this.searchValue)
                    .filter(this.habits);
            },

            recentlyAdded(): ToDoThingGeneralInfo[] {
                return ThingFilterBuilder
                    .all()
                    .limitFirst(5)
                    .filter(this.habits);
            },

            withoutGroup(): ToDoThingGeneralInfo[] {
                return ThingFilterBuilder
                    .all()
                    .withoutGroup()
                    .filter(this.habits);
            },

            padding(): string {
                let value = window.innerWidth > 700 ? ((Math.min(200, window.innerWidth - 700)) / 2) : 0;
                if (window.innerWidth - value * 2 > 2000) {
                    value = (window.innerWidth - 2000) / 2;
                }
                return value + 'px';
            }
        },

        methods: {

            receiveCommand(type: CommandType, ids: ThingIdsDto) {
                this.editedHabit = ThingUtils.findById(this.habits, ids);
                this.commands.setEditedHabit(this.editedHabit);
                switch (type) {
                    case CommandType.MoveToOtherDate:
                        this.openModal('moveToOtherDateModal');
                        break;
                    case CommandType.DisableForDays:
                        this.openModal('disableModal');
                        break;
                    case CommandType.AddSubThing:
                        this.openModal('attachSubThingModal');
                        break;
                    case CommandType.MoveToOtherHour:
                        this.openModal('moveToOtherHourModal');
                        break;
                    case CommandType.AddComment:
                        this.openModal('addCommentModal');
                        break;
                    case CommandType.AssignToGroup:
                        this.openModal('assignToGroupModal');
                        break;
                    case CommandType.Rename:
                        this.thingRenamed();
                        break;
                    case CommandType.Archive:
                        this.commands.archive();
                        break;
                    case CommandType.Delete:
                        this.commands.deleteRoutine();
                        break;
                    case CommandType.DetachFromParent:
                        this.commands.detach();
                        break;
                    case CommandType.ReEnable:
                        this.commands.reEnable();
                        break;
                    case CommandType.CancelSuspend:
                        this.commands.cancelSuspend();
                        break;
                    case CommandType.Dismiss:
                        this.commands.dismiss();
                        break;
                    case CommandType.SetHoursToExpire:
                        this.openModal('setHoursToExpireModal');
                        break;
                    case CommandType.RemoveNotifications:
                        this.commands.removeNotifications();
                        break;
                    case CommandType.UpdateOffsetBetweenNotifications:
                        this.openModal('offsetModal');
                        break;
                  case CommandType.UpdateComments:
                        this.openModal('addCommentModal')
                }
            },

            thingRenamed() {
                this.openModal('renameModal');
                const modal = this.$refs.renameModal as any;
                modal.setValue(this.editedHabit.name);
            },

            openModal(ref: string) {
                const modal = this.$refs[ref] as any;
                modal.open();
            },

            thingsFromGroup(groupName: string): ToDoThingGeneralInfo[] {
                return ThingFilterBuilder
                    .all()
                    .includeOnlyFromGroup(groupName)
                    .includeArchived(false)
                    .filter(this.habits);
            },


            refresh(): void {
                new ToDoThingsAPI().getAllThings(LoginManager.getUserId())
                    .then((response) => {
                            this.habits = response;
                            this.commands = new ThingsCommands(this.habits);
                            this.dataLoaded = true;
                    });
            },

            created(thingId: ThingIdsDto) {
                this.commands.created(thingId);
            },

            deleted(thingId: ThingIdsDto) {
                this.commands.deleted(thingId);
            },

            updated(thingId: ThingIdsDto) {
                this.commands.updated(thingId);
            },

            clicked(name: string) {
                TransitionUtils.perform(name, this, 0.5);
            }
        },

        mounted(): void {
            this.refresh();
        }
    });
</script>

<style scoped>
    .collapsible {
        overflow: hidden;
        transition: height 1.0s;
        height: auto;
    }
</style>
