<template>
    <v-app style="font-family:'Century Gothic','Futura','Didact Gothic',san-serif; overflow: hidden !important;">
        <div v-if="isLogged()">
            <v-toolbar dark color="primary">
                <v-app-bar-nav-icon @click.stop="navigationOpen = !navigationOpen"></v-app-bar-nav-icon>
                Logged in as {{getLogin()}}
                <div class="flex-grow-1"/>
<!--                <v-btn-->
<!--                        @click="switchTheme"-->
<!--                        small-->
<!--                        color="secondary"-->
<!--                >-->
<!--                    switch theme-->
<!--                </v-btn>-->
                &emsp;
                <v-btn
                        @click="logout"
                        small
                        color="secondary"
                >
                    logout
                </v-btn>
            </v-toolbar>
        </div>

        <v-card tile color="background" style="min-height: 100%">
            <v-navigation-drawer
                    v-if="isLogged()"
                    temporary
                    v-model="navigationOpen"
                    absolute
                    :dark="!isLight"
            >
                <v-list>
                    <v-list-item-group v-model="group">
                        <v-list-item @click="switchToMainPage">
                            <v-list-item-title>
                                <v-icon>mdi-alarm</v-icon> &emsp; Notifications
                            </v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="switchToFinances">
                            <v-list-item-title>
                                <v-icon>mdi-currency-usd</v-icon> &emsp; Finances
                            </v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="switchToDevices">
                            <v-list-item-title>
                                <v-icon>mdi-cellphone-link</v-icon> &emsp; Devices
                            </v-list-item-title>
                        </v-list-item>
                      <v-list-item @click=" switchToApiKeys">
                        <v-list-item-title>
                          <v-icon>mdi-account-key</v-icon> &emsp; Api keys
                        </v-list-item-title>
                      </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-navigation-drawer>
            <router-view :key="index"/>
        </v-card>
    </v-app>
</template>

<script lang="ts">
    import Vue from 'vue';
    import LoginManager from '@/Login/LoginManager';
    import {LoginAPI} from '@/Api';
    import ThemeUtils from '@/Utils/ThemeUtils';

    export default Vue.extend({
        name: 'App',
        data() {
            return {
                index: 0 as number,
                navigationOpen: false,
                group: null,
                isLight: ThemeUtils.isLight(),
            };
        },

        methods: {

            switchToDevices() {
                this.navigationOpen = false;
                this.$router.push('/devices');
            },

            switchToFinances() {
                this.navigationOpen = false;
                this.$router.push('/finances');
            },

            switchToMainPage() {
                this.navigationOpen = false;
                this.$router.push('/');
            },

            switchToCalendar() {
                this.navigationOpen = false;
                this.$router.push('/calendar');
            },

            switchToRunning() {
              this.navigationOpen = false;
              this.$router.push('/running')
            },

            switchToApiKeys() {
              this.navigationOpen = false;
              this.$router.push('/keys');
            },

            switchTheme() {
                ThemeUtils.switchTheme(this);
                this.index++;
                this.isLight = ThemeUtils.isLight();
            },

            isLogged(): boolean {
                return LoginManager.isLogged();
            },

            getLogin(): string {
                return LoginManager.getLogin();
            },

            redirectToLogin(): void {
                const pathname = window.location.pathname;
                const encodedPathname = btoa(pathname);
                this.$router.push('/login?redirect_url=' + encodedPathname);
            },

            logout(): void {
                LoginManager.logout();
                this.redirectToLogin();
            },
        },
        mounted(): void {
            if (window.location.href.indexOf('/login') === -1
                && window.location.href.indexOf('/password') === -1) {
                if (!LoginManager.isLogged()) {
                    this.redirectToLogin();
                    return;
                }
                new LoginAPI().tokenValid(LoginManager.getUserId(), LoginManager.getToken()).then((response) => {
                    if (!response) {
                        this.logout();
                    }
                });
            }
        },
    });
</script>

<style>
    @import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
</style>
